//- <head>
//-     <link rel="icon" href="/icons/cityprologo.png" type="image/png" />

//-     <title>City Project Application and Beneficiary Releasing</title>
//-     <script src="/newassets/vendor/jquery-3.2.1.min.js"></script>
    

//-     <!-- Bootstrap -->
//-     <link href="/cityadmin/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
//-     <!-- Font Awesome -->
//-     <link href="/cityadmin/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
//-     <!-- NProgress -->
//-     <link href="/cityadmin/vendors/nprogress/nprogress.css" rel="stylesheet">
//-     <!-- iCheck -->
//-     <link href="/cityadmin/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
	
//-     <!-- bootstrap-progressbar -->
//-     <link href="/cityadmin/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
//-     <!-- JQVMap -->
//-     <link href="/cityadmin/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet"/>
//-     <!-- bootstrap-daterangepicker -->
//-     <link href="/cityadmin/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
//-     <!-- date-tables -->
//-     <link href="/cityadmin/vendors/datatables/dataTables.bootstrap4.css" rel="stylesheet">

//-     <script src="/cityadmin/vendors/datatables/jquery.dataTables.js"></script>

//-     <script src="/cityadmin/vendors/datatables/dataTables.bootstrap4.js"></script>

//-     <script src="/cityadmin/build/js/sb-admin-datatables.min.js"></script>

//-     //- SWEET ALERT
//-     <script src="/asset_sweetalert/src/sweetalert2.all.min.js"></script>
//-     link(rel="stylesheet", href="/assets/css/printjs.min.css")
    

//-     <!-- Custom Theme Style -->
//-     <link href="/cityadmin/build/css/custom.min.css" rel="stylesheet">
//- </head>
//- <body>
extends ../../home/views/navbar.pug

block content
    <div class="right_col" role="main">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                each ben in receipt
                    <div class="x_content" >
                        <div id="printRE">
                            br
                            br
                            .row
                                .col-md-10                                    
                                    p.text-center &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;Office of the Congresswomen Alexandria Gonzales
                                    p.text-center  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Mandaluyong City
                                    p.text-center  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 315 Maysilo Cir, 1550 Metro Manila
                            hr
                            .row
                                .col-md-12
                                    each proj in tbl_proj
                                        p  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; PROJECT TITLE:  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; #{proj.varchar_projectName}
                                        p  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; DATE:  &nbsp; &nbsp;  #{dateNow.dateNow}
                            br
                            .row
                                .col-md-12
                                    p(style='margin-left:55px') &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; I, <strong><u>#{ben.varchar_FName} #{ben.varchar_MName} #{ben.varchar_LName} </u></strong>have received the following benefits:
                                    each benefits in tbl_benefits
                                        p(style='margin-left:85px') &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;- #{benefits.int_itemQuantity} #{benefits.char_itemUnit}/s of #{benefits.text_benefitName}
                            .m-h-50
                            .row
                                .col-md-12
                                    .row
                                        .pull-right
                                            <div style='margin-left:335px'>
                                                img.tenantPirma(style='width:250px;height:80px')
                                            </div>
                                            <div style='margin-left:335px'>
                                                | ___________________________________
                                                p 
                                                    strong #{ben.varchar_FName} #{ben.varchar_MName} #{ben.varchar_LName} 
                                                    //- strong &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; #{ben.varchar_FName} #{ben.varchar_MName} #{ben.varchar_LName}    
                                            </div>
                            hr
                            .row
                                .col-md-12
                                    p.text-center &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; (Proof of benefit received)
                                    p.text-center  &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; City Project Application and Beneficiary Releasing Management System
                            .d-print-none#noPrint
                                hr
                                .pull-right
                                    each proj in tbl_proj
                                        a(href=`/barangay/releasing/${proj.int_projectID}/viewbarangay` disabled id="closebutton" class="float-right btn btn-danger btn-s"): span.fa.fa-cross Close
                                    <button id="signReceiptButton" type="button" class= "btn float-right btn-sm btn-inverse fa fa-pencil">&nbsp;&nbsp; Sign Receipt
                                    <button id="printReceiptButton" type="button" disabled class= "btn float-right btn-sm btn-inverse fa fa-print">&nbsp;&nbsp; Print Receipt
                                                                            
                        </div> 
                        <div hidden>
                            <form class="form-horizontal form-label-left" method="POST" action='/barangay/releasing' id="formAddBen" >
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bs-example-modal-sm" id="modalBeneficiarySignature" abindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form class="form-horizontal form-label-left" method="POST" action='#' id="formAddUOM" >
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel"><span class="section">Beneficiary Signature
                        </span></h4>
                        <div class="col-md-12">
                            <center>
                                <canvas id="signaturePadBeneficiary" class="signature-pad" style="margin: auto; border: 2px solid #d2b48c" width='600', height='300'></canvas>
                                    <button id="undo" class= "btn"> Undo
                                    <button id="benSign" type="button" class= "btn float-right"> Submit 
                            </center>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="/cityadmin/vendors/jquery/dist/jquery.min.js"></script>
    <script src="/asset_validation/dist/jquery.validate.min.js"></script>
    <!-- Bootstrap -->
    <script src="/cityadmin/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="/cityadmin/build/js/custom.min.js"></script>
    script(src='/assets/js/signaturePad.js')
    script(src='/assets/js/rasterizeHTML.js')
    script(src='/assets/js/jspdf.js')
    script(src='/assets/js/printjs.min.js')
    
    script(type='text/javascript').
        $(document).ready(function(){
            var canvas = document.getElementById("signaturePadBeneficiary");
            console.log("")
            var signaturePad = new SignaturePad(canvas, {backgroundColor: 'rgb(255, 255, 255)'});
            var printCanvas = document.getElementById("printCanvas");

            $('#signReceiptButton').click(function(){
                $('#modalBeneficiarySignature').modal('show');
            });
            $('#undo').click(function(e){
                e.preventDefault()
                signaturePad.clear()
            });
            $('#benSign').click(function(){
                if (signaturePad.isEmpty()){
                    swal({
                        title: 'No Signature',
                        icon: 'error',
                        text: 'Please provide signature below.',
                        button: 'Okay',
                    })
                }
                else{
                    var data = signaturePad.toDataURL("image/jpeg")
                    $('.tenantPirma').attr('src', `${data}`);
                    $('#modalBeneficiarySignature').modal('hide');
                    $('#printReceiptButton').attr('disabled', false);
                    $('#closebutton').attr('disabled', false);
                }
            });
            var print = document.getElementById("printRE");
            $('#printReceiptButton').click(function(){
                $('#noPrint').attr('style', 'display:none;')
                javascript:window.print(print)
                $('#formprint').submit();
                $('#noPrint').attr('style', 'display:show;')
            });
        });