extends ../../home/views/navbar.pug

block content
    <div class="right_col" role="main">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h1>List of Received Problem Statements</h1>
                    </div>              
                    <div class="content-wrapper">
                        <div class="container-fluid">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-bordered" id="datatable" width="95%" cellspacing="0">
                                                <thead>
                                                    <tr>
                                                    <th>Problem Name</th>
                                                    <th>Category Name</th>
                                                    <th>Date Created</th>
                                                    <th>Status</th>
                                                    <th>Actions</th>
                                                    </tr>
                                                </thead>
                                                <tfoot>
                                                    <tr>
                                                    <th>Problem Name</th>
                                                    <th>Category Name</th>
                                                    <th>Date Created</th>
                                                    <th>Status</th>
                                                    <th>Actions</th>
                                                    </tr>
                                                </tfoot>
                                                <tbody>
                                                each problem in tbl_problemstatement
                                                    <tr>
                                                    <td>
                                                        value=problem.varchar_statementTitle
                                                    </td>
                                                    <td>
                                                        value=problem.varchar_categoryName
                                                    </td>
                                                    <td>
                                                        value=problem.text_statementContent
                                                    </td>
                                                    <td>
                                                        value=problem.enum_problemStatus
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-success btn-xs btn-block " id="view" type="button" data-toggle="modal" data-target=".bs-example-modal-lg"><span class=""></span>Acknowledge</button>
                                                        a(href=`/office/problems/submittedproblems/${problem.int_statementID}/rejectstatement` id="rejectstatement" class="btn btn-danger btn-xs btn-block"): span.fa.fa-ban  Reject
                                                    </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
        <!-- END STATISTIC-->
            