extends ../../navbar/views/navbar.pug

block content
        <div class="right_col" role="main">
        each target in tbl_beneficiary
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h3>Update:<h3>
                  a(href=`/admin/maintenance/targetbeneficiary` class="btn btn-danger btn-s pull-right"): span.fa.fa-times-circle      
                </div>
                  <form method="POST" action="edittargetbeneficiary">
                    input(type="hidden" value=`${target.int_beneficiaryID}` name="int_beneficiaryID")

                    <div class="row form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="beneficiaryname">Target Beneficiary Name <span class="required">*</span>
                      </label>
                      <div class="col-md-4 col-sm-4 col-xs-12">
                        //- <input id="beneficiaryname" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="3" name="beneficiaryname" placeholder="" required="required" value=`${target.varchar_beneficiaryName}` type="text">
                        input(type="text" class="form-control col-md-7 col-xs-12" id="beneficiaryname" placeholder="Beneficiary Name" name="beneficiaryname" value=`${target.varchar_beneficiaryName}` required)
                      </div>
                    </div>
                      
                    <div class="row form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="beneficiarydescription">Target Beneficiary Description <span class="required">*</span>
                      </label>
                      <div class="col-md-8 col-sm-8 col-xs-12">
                        //- <input id="beneficiarydescription" class="form-control col-md-12 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="beneficiarydescription" placeholder="" required="required" value=`${target.text_beneficiaryDescription}` type="text">
                        input(type="text" class="form-control col-md-7 col-xs-12" id="beneficiarydescription" placeholder="Beneficiary Description" name="beneficiarydescription" value=`${target.text_beneficiaryDescription}` required)
                        
                      </div>
                    </div>
                      <button type="submit" class="btn btn-default float-right" id="buttoneditprofile">Submit</button>
                  </div>
                  </form>
                </div>
            </div>
          </div>
        </div>