extends ../../navbar/views/navbar.pug

block content
        <div class="right_col" role="main">
        each releaselocation in tbl_releaselocation
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h3>Update:<h3>
                  a(href=`/admin/maintenance/releaselocation` class="btn btn-danger btn-s pull-right"): span.fa.fa-times-circle      
                </div>
                  <form method="POST" action="editreleaselocation">
                    input(type="hidden" value=`${releaselocation.int_locationID}` name="int_locationID")

                    <div class="row form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="locationname">Location Name <span class="required">*</span>
                      </label>
                      <div class="col-md-4 col-sm-4 col-xs-12">
                        //- <input id="beneficiaryname" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="3" name="beneficiaryname" placeholder="" required="required" value=`${target.varchar_beneficiaryName}` type="text">
                        input(type="text" class="form-control col-md-7 col-xs-12" id="locationname" placeholder="Location Name" name="locationname" value=`${releaselocation.varchar_locationName}` required)
                      </div>
                    </div>
                      
                    <div class="row form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="blocknumber">Location Address (Block & Number)<span class="required">*</span>
                      </label>
                      <div class="col-md-8 col-sm-8 col-xs-12">
                        //- <input id="beneficiarydescription" class="form-control col-md-12 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="beneficiarydescription" placeholder="" required="required" value=`${target.text_beneficiaryDescription}` type="text">
                        input(type="text" class="form-control col-md-7 col-xs-12" id="blocknumber" placeholder="Block & Number" name="blocknumber" value=`${releaselocation.varchar_addressLine1}` required)
                        
                      </div>
                    </div>

                    <div class="row form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="street">Location Address (Street)<span class="required">*</span>
                      </label>
                      <div class="col-md-8 col-sm-8 col-xs-12">
                        //- <input id="beneficiarydescription" class="form-control col-md-12 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="beneficiarydescription" placeholder="" required="required" value=`${target.text_beneficiaryDescription}` type="text">
                        input(type="text" class="form-control col-md-7 col-xs-12" id="street" placeholder="Street" name="street" value=`${releaselocation.varchar_addressLine2}` required)
                        
                      </div>
                    </div>

                    <div class="row form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="barangay">Location Address (Barangay)<span class="required">*</span>
                      </label>
                      <div class="col-md-8 col-sm-8 col-xs-12">
                        //- <input id="beneficiarydescription" class="form-control col-md-12 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="beneficiarydescription" placeholder="" required="required" value=`${target.text_beneficiaryDescription}` type="text">
                        input(type="text" class="form-control col-md-7 col-xs-12" id="barangay" placeholder="Barangay" name="barangay" value=`${releaselocation.varchar_addressLine3}` required)
                        
                      </div>
                    </div>

                    <div class="row form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="city">Location Address (City)<span class="required">*</span>
                      </label>
                      <div class="col-md-8 col-sm-8 col-xs-12">
                        //- <input id="beneficiarydescription" class="form-control col-md-12 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="beneficiarydescription" placeholder="" required="required" value=`${target.text_beneficiaryDescription}` type="text">
                        input(type="text" class="form-control col-md-7 col-xs-12" id="city" placeholder="City" name="city" value=`${releaselocation.varchar_cityName}` required)
                        
                      </div>
                    </div>
                      <button type="submit" class="btn btn-default float-right" id="buttoneditprofile">Submit</button>
                  </div>
                  </form>
                </div>
            </div>
          </div>
        </div>