extends ../../navbar/views/navbar.pug

block content
        <div class="right_col" role="main">
        each probcat in tbl_problemcategory
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h3>Update:<h3>
                  a(href=`/admin/maintenance/problemcategory` class="btn btn-danger btn-s pull-right"): span.fa.fa-times-circle      
                </div>
                  <form method="POST" action="editproblemcategory">
                      input(type="hidden" value=`${probcat.int_problemCategID}` name="int_problemCategID")

                      <div class="row form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="problemcategoryname">Problem Category Name <span class="required">*</span>
                        </label>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          //- <input id="requirementname" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="3" name="requirementname" placeholder="" required="required" value=`${requirement.varchar_requirementName}` type="text">
                          input(type="text" class="form-control col-md-7 col-xs-12" id="problemcategoryname" placeholder="Problem Category Name" name="problemcategoryname" value=`${probcat.varchar_problemCategName}` required)
                        </div>
                      </div>
                      
                      <div class="row form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="problemcategorydescription">Problem Category Description <span class="required">*</span>
                        </label>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                          //- <input id="requirementdescription" class="form-control col-md-12 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="requirementdescription" placeholder="" required="required" value=`${requirement.text_requirementDescription}` type="text">
                          input(type="text" class="form-control col-md-7 col-xs-12" id="problemcategorydescription" placeholder="Problem Category Description" name="problemcategorydescription" value=`${probcat.text_problemCategDescription}` required)
                        </div>
                      </div>
                      <button type="submit" class="btn btn-default float-right" id="buttoneditprofile">Submit</button>
                  </div>
                  </form>
                </div>
            </div>
          </div>
        </div>