extends ../../navbar/views/navbar.pug

block content
        <!-- page content -->
        <div class="right_col" role="main">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h1>Projects<button class="btn btn-primary btn-lg pull-right" id="addproject" type="button" data-toggle="modal" data-target=".bs-example-modal-lg"><span class="fa fa-plus"></span> Add</button></h1>
                </div>              
        <div class="content-wrapper">
            <div class="container-fluid">
            <div class="card mb-4">
                <div class="card-header">
                <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="datatable" width="95%" cellspacing="0">
                    <thead>
                        <tr>
                        <th>ID</th>
                        <th>Project Name</th>
                        <th>Release Location</th>
                        <th>Project Slot</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Actions</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                        <th>ID</th>
                        <th>Project Name</th>
                        <th>Release Location</th>
                        <th>Project Slot</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Actions</th>
                        </tr>
                    </tfoot>
                    <tbody>
                    each project in tbl_projectproposal
                        <tr>
                        <td>
                            value=project.int_projectID
                        </td>
                        <td>
                            value=project.varchar_projectName
                        </td>
                        <td>
                            value=project.varchar_releaseLocation
                        </td>
                        <td>
                            value=project.int_allotedSlot
                        </td>
                        <td>
                            value=project.date_startDate
                        </td>
                        <td>
                            value=project.date_endDate
                        </td>
                        <td>
                            a(href=`/admin/maintenance/projects/${project.int_projectID}/viewproject` id="viewproject" class="btn btn-primary btn-s"): span.fa.fa-folder  View
                            a(href=`/admin/maintenance/projects/${project.int_projectID}/editproject` id="editproject" class="btn btn-info btn-s"): span.fa.fa-pencil  Edit
                            a(href=`/admin/maintenance/projects/${project.int_projectID}/deleteproject` id="deleteproject" class="btn btn-danger btn-s"): span.fa.fa-minus-square  Disable
                        </td>
                        </tr>
                    </tbody>
                    </table>
                </div>
                </div>
            </div>
            </div>
            

                  <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                        <div class="modal-body">
                          <form class="form-horizontal form-label-left" method="POST" action='projects' name="addProject" novalidate>
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                          </button>
                        <h4 class="modal-title" id="myModalLabel"><span class="section">Project Details</span> Note: Projects should be approved and is ready for application</h4>
             
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="projectname">Project Name <span class="required">*</span>
                        </label>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <input id="projectname" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="3" name="projectname" placeholder="" required="required" type="text">
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="releaselocation">Release Location <span class="required">*</span>
                        </label>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <input id="releaselocation" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="releaselocation" placeholder="" required="required" type="text">
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="projectrationale">Project Rationale <span class="required">*</span>
                        </label>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                          <input id="projectrationale" class="form-control col-md-12 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="projectrationale" placeholder="" required="required" type="text">
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="projectobjective">Project Objective <span class="required">*</span>
                        </label>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                          <input id="projectobjective" class="form-control col-md-12 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="projectobjective" placeholder="" required="required" type="text">
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="projectdescription">Project Description <span class="required">*</span>
                        </label>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                          <input id="projectdescription" class="form-control col-md-12 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="projectdescription" placeholder="" required="required" type="text">
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="expectedoutput">Expected Output <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <textarea id="expectedoutput" required="required" name="expectedoutput" class="form-control col-md-7 col-xs-12"></textarea>
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="allotedslot">Alloted Slot <span class="required">*</span>
                        </label>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                          <input type="number" id="allotedslot" name="allotedslot" required="required" data-validate-minmax="10,10000" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="estimatedbudget">Estimated Budget <span class="required">*</span>
                        </label>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <input type="number" id="estimatedbudget" name="estimatedbudget" required="required" data-validate-min="10000" step=0.01 class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="individualbudget">Individual Budget <span class="required">*</span>
                        </label>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <input type="number" id="individualbudget" name="individualbudget" required="required" data-validate-min="10000" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="startdate">Start Date <span class="required">*</span>
                        </label>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <input id="startdate" class="form-control col-md-7 col-xs-12" min="2018-06-26" name="startdate" placeholder="" required="required" type="date">
                        </div>
                      </div>
                       <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="enddate">End Date <span class="required">*</span>
                        </label>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <input id="enddate" class="form-control col-md-7 col-xs-12" min="2018-06-26" name="enddate" placeholder="" required="required" type="date">
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="approveddate">Approved Date <span class="required">*</span>
                        </label>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <input id="approveddate" class="form-control col-md-7 col-xs-12" min="2018-06-26" name="approveddate" placeholder="" required="required" type="date">
                        </div>
                      </div>
                       <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="releasedate">Release Date <span class="required">*</span>
                        </label>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <input id="releasedate" class="form-control col-md-7 col-xs-12" min="2018-06-26" name="releasedate" placeholder="" required="required" type="date">
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="actualbudget">Actual Budget <span class="required">*</span>
                        </label>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <input type="number" id="actualbudget" name="actualbudget" required="required" data-validate-min="10000" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
                      <button type="submit" id="modalbutton" class="btn btn-primary float-right" position="center" style="background-color#21BA45;color:whitesmoke;border:none;">Submit</button>
                      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </form></div>
                        <div class="modal-footer">
                          
                        </div>

                        </div>
                        </div>
                    </div>