extends ../../home/views/navbar.pug

block content
    <link href="/barangay/styles.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/barangay/css/specificproject.css">
        <!-- page-header -->
        <div class="page-header-problems rounded-bottom ">
            <div class="container rounded-top" id="container-header" >
                <div class="row">
                    <div class="page-caption pb-4 pt-3" style="background-color: #C0C0C0; opacity: .8; ">
                        <p class="page-title font-weight-bold" style="color: ;margin-bottom:0;">PROBLEM STATEMENT</p>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- /.page-header-->
        <!-- tour-booking -->
        <div class="container container-fluid " style="padding-top:1.5%; padding-bottom:1.5%; background-color: #CCE5FF;">
        <div class="">
        <div class="card-header">
            <div class="form-row">
                <div class="col-md-4">
                    <h4 style="color:whitesmoke;">Submitted Problem Statement</h4>
                </div>
                <div class="col-md-4"></div>
                    <h5 style="color:whitesmoke;margin-left:10%;">Category:</h5>
                    <div class="col-md-2">
                    <form action="viewprobcategory" method="POST">
                        <select name="problem_category" id="probcategory" class="form-control-sm float-right" style="margin:none;color:#5F9EA0" required="required" onchange="this.form.submit()" required>
                            <option disabled="disabled" selected="selected">Select ...</option>
                            <option value = "All">All</option>
                            <option value = "1">Health</option>
                            <option value = "2">Education</option>
                            <option value = "3">Finance</option>
                            <option value = "4">Infrastracture</option>
                        </select>
                    </form>
                    </div>
                </div>
            </div>
        //- Content
        each problem in tbl_problemstatement
            <div class="card-body" style="background-color: whitesmoke;">
                <div class="card" style="transition: 0.3s;">
                <div class="card-header bg-transparent " style="color:black;size:20px; ">
                    <div class=" font-weight-bold" >
                        value=problem.varchar_statementTitle
                        <h5 class="card-title float-right pr-4">Category: 
                            <u>
                            value=problem.varchar_categoryName
                            </u>
                        </h5>
                    </div>
                    <div class="card-body" >
                        <p class="card-text">
                            value=problem.text_statementContent
                        </p>
                    </div>
                </div>
                    <div class="card-footer bg-transparent pr-5" style="border-color:#3B5997">
                        <small>Date Created:
                            value=problem.date_createdDate
                        </small>
                        <medium class="float-right  font-weight-bold">Status:
                            value=problem.enum_problemStatus
                        </medium>
                        <medium class="pl-5 ">From Barangay:
                            value=problem.int_barangayID
                        </medium>
                    </div>
                </div>   
            </div>
        //- End of Content
        </div>
        </div>
        </div>
        <!-- /.tour-booking -->
            