extends ../../home/views/navbar.pug

block content
    <div class="right_col" role="main">
    <div class="x_panel">
    //- <!-- DATA TABLE-->
    <center>
        <h1>STATEMENT OF PROBLEM</h1>
        <button class="btn btn-primary btn-lg" id="addproblem" type="button" data-toggle="modal" data-target="#modaladdproblem"><span class="fa fa-plus"></span> Add</button></h1>
    </center>
    <hr>
    <div class="container">
        <div class="table-responsive m-b-40">
                <table id="datatable" class="table table-borderless table-data3">
                    <thead>
                        <tr>
                            <th>Statement Title</th>
                            <th>Status</th>
                            <th>Action/s</th>
                        </tr>
                    </thead>
                    <tbody>
                    each problem in tbl_problemstatement
                        <tr class="tr-shadow">
                            <td>
                                value=problem.varchar_statementTitle
                            </td>
                            <td>
                                value=problem.enum_problemStatus
                            </td>
                            <td>
                                button.btn.btn-success.mb-1(id="btn-view-prob" class="btn-view-problem" value= problem.int_statementID): span.fa.fa-eye View
                            </td>
                        </tr>        
                    </tbody>
                </table>
        </div>
    //- <!-- END DATA TABLE-->
    </div>
    </div>
    </div>
    //- MODAL NEW PROBLEM STATEMENT
    <div class="modal fade bs-example-modal-lg" id="modaladdproblem" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            <div class="modal-body">
                <form class="form-horizontal form-label-left" method="POST" action='' id="formaddproblem" name="addproblem" novalidate>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title" id="myModalLabel"><span class="section">Add New Statement of Problem</span></h4>
             
                <div class="item form-group">
                        <label class="control-label col-md-3" for="problemtitle">Statement Title:
                        </label>
                        <div class="col-md-8">
                          <input id="problemtitle" class="form-control" name="problem_title" id="problem_title" placeholder="Enter title here ..." required type="text">
                        </div>
                </div>
                <div class="item form-group">
                        <label class="control-label col-md-3 " for="problem_category">Problem Category:</label>
                        <div class="col-md-7">
                        <select name="problem_category" style=" padding:0.50em;" required>
                            <option disabled="disabled" selected="selected">Choose..</option>
                                each category in tbl_projectcategory
                                    option(value=`${category.int_categoryID}`)= `${category.varchar_categoryName}`
                        </select>
                        </div>
                </div>
                <div class="item form-group">
                        <label for="target_beneficiary" class=" control-label col-md-3">Target Beneficiary:</label>
                        <div class="col-md-8">
                            <select class="select2_multiple form-control" onchange="getBeneficiary()" id="ap-projectbeneficiary" name="projectbeneficiaries[]" multiple="multiple">
                                each beneficiary in tbl_beneficiary
                                    option(value=`${beneficiary.int_beneficiaryID}`)=beneficiary.varchar_beneficiaryName+"   "
                            </select>
                        </div>
                </div>
                <div class="item form-group">
                        <label for="problem_description" class=" control-label col-md-3">Description:</label>
                        <div class="col-md-8">
                            <textarea name="problem_description" id="problem_description" rows="3" placeholder="Please fill project description ..." class="col-sm-11 form-control" required></textarea>
                        </div>
                </div>
                <br>
                <br>
                <div class="item form-group">
                        <label class="control-label col-md-3" for="residentName">Name of Resident:
                        </label>
                        <div class="col-md-8">
                          <input id="residentName" class="form-control" name="residentName" id="residentName" placeholder="Enter resident's name that brought up the statement ..." required type="text">
                        </div>
                </div>
                <div class="item form-group">
                        <label class="control-label col-md-3" for="residentAddress">Address of the Resident:
                        </label>
                        <div class="col-md-8">
                          <input id="residentAddress" class="form-control" name="residentAddress" id="residentAddress" placeholder="Enter resident's address ..." required type="text">
                        </div>
                </div>
                <br>
                <div class="modal-footer">    
                <button type="button" class="btn btn-default" data-dismiss="modal" style="float:right;">Cancel</button>
                <button type="submit" id="submit-problem" class="btn btn-primary"  style="background-color#21BA45;color:whitesmoke;border:none;float:right;">Send</button>
                <div style="float:left;" >Date Created:<b class="text-muted" id="problem_created"> </b></div>
                <input type="hidden" id="problem_createdValue" name="problem_createdValue" > 
                </form></div>
                </div>
            </div>
            </div>
        </div>
    </div>

    script.
        //- SCRIPT FOR INPUT DATE
            n =  new Date();
            y = n.getFullYear();
            m = n.getMonth() + 1;
            d = n.getDate();
            document.getElementById("problem_created").innerHTML = + " " + m + "/" + d + "/" + y ;
            
            console.log(y + "-" + m + "-" + d);
            document.getElementById("problem_createdValue").value = y + "-" + m + "-" + d;


    //- MODAL VIEW PROBLEM STATEMENT
    
    <div class="modal fade bs-example-modal-lg" id="modalviewproblem" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel"><span class="section">View Statement of Problem</span></h4> 
                    <div class="item form-group">
                            <label class="control-label col-md-3 " for="problemtitle">Statement Title:
                            </label>
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-8" id="aj-problemtitle">
                
                            </div>
                            <br>
                    </div>
                    <div class="item form-group">
                            <label class="control-label col-md-3 " for="problemstatus">Status:
                            </label>
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-8" id="aj-problemstatus" >
                
                            </div>
                            <br>
                    </div>
                    <div class="item form-group">
                            <label class="control-label col-md-3 " for="problemcontent">Statement Content:
                            </label>
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-8" id="aj-problemcontent">
                
                            </div>
                            <br>
                    </div>
                    <div class="item form-group">
                            <label class="control-label col-md-3 " for="problemcreated">Date Created:
                            </label>
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-8" id="aj-problemcreated">
                
                            </div>
                            <br>
                    </div>
                    <div class="item form-group">
                            <label class="control-label col-md-3 " for="problemcategory">Category:
                            </label>
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-8" id="aj-problemcategory">
                
                            </div>
                            <br>
                    </div>
                    <div class="item form-group">
                            <label class="control-label col-md-3 " for="problemBeneficiary">Beneficiary:
                            </label>
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-8" id="aj-problembeneficiary">
                
                            </div>
                            <br>
                            <br>
                            <br>
                    </div>
                    
                        <div class="item form-group">
                                <label class="control-label col-md-3" for="resName">Resident's Name:
                                </label>
                                <div class="col-md-1">
                
                                </div>
                                <div class="col-md-8" id="aj-resName">
                    
                                </div>
                                <br>
                        </div>
                        <div class="item form-group">
                                <label class="control-label col-md-3" for="resaddress">Resident's Address:
                                </label>
                                <div class="col-md-1">
                
                                </div>
                                <div class="col-md-8" id="aj-resaddress">
                    
                                </div>
                                <br>
                        </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" style="float:right;">Close</button>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>

    
    <script src="/newassets/vendor/jquery-3.2.1.min.js"></script>
    <script src="/asset_validation/dist/jquery.validate.min.js"></script>
    
    
    script.

        //- SCRIPT GET INT_STATEMENTID (VIEW MODAL)

            $(document).ready(function () {

                $(document).on('click', '.btn-view-problem', function (e) {
                    e.preventDefault()
                    var Id = $(this).val();
                    console.log("================================Id(Class)")
                    console.log(Id);
                    console.log("================================Id(Class)")
                    $('#modalviewproblem').modal('show');
                    ajaxGet();

                    function ajaxGet(){
                    console.log("========Id");
                    console.log(Id);
                    console.log("========Id");

                    $.ajax({
                        type : "POST",
                        url : window.location + "/ajaxgetdetails",
                        data: { ajStatementID: Id},
                        dataType: "json",
                         success: function(tbl_problemstatement1,tbl_beneficiary){

                        console.log(tbl_problemstatement1)

                            $.each(tbl_problemstatement1, function (index, value) {
                                console.log(value);

                                document.getElementById("aj-problemstatus").innerHTML = value.enum_problemStatus     
                                document.getElementById("aj-problemtitle").innerHTML = value.varchar_statementTitle
                                document.getElementById("aj-problemcontent").innerHTML = value.text_statementContent
                                document.getElementById("aj-problemcreated").innerHTML = value.date_createdDate
                                document.getElementById("aj-problemcategory").innerHTML = value.varchar_categoryName
                                document.getElementById("aj-resName").innerHTML = value.varchar_residentName
                                document.getElementById("aj-resaddress").innerHTML = value.text_residentAddress
                                    
                                console.log("Success: " );
                            });
                            $.each(tbl_beneficiary, function (index, value) {
                                console.log(value);

                                document.getElementById("aj-problemBeneficiary").innerHTML = value.varchar_beneficiaryName     
                                    
                                console.log("Success: " );
                            });
                                                        
                            
                        },
                        error : function(e) {
                            console.log("ERROR: ", e);
                        }
                    });	
                }
                }); 

                //- SWEET ALERT CONFIRM SUBMIT
                $('#submit-problem').on('click',function (e) {
                    var form = $(this).parents('form');
                    e.preventDefault(); //prevent submit
                    
                        swal({
                        title: 'Are you sure?',
                        text: "You will submit this statement of problem.",
                        type: 'info',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes, submit it!'
                        }).then((result) => {
                        if (result.value) {
                            $('#formaddproblem').submit();
                        }                        
                        })
                });
                //- START VALIDATIONS
                $(function() {
                $("#formaddproblem").validate({
                    rules: {
                    problem_title: {
                        required: true,
                        minlength: 10
                    },
                    problem_description:{
                        required: true,
                        minlength: 10
                    },
                    action: "required"
                    },
                    messages: {
                    problem_title: {
                        required: "Please enter some data",
                        minlength: "Your statement title must be at least 10 characters"
                    },
                    problem_description: {
                        required: "Please enter some data",
                        minlength: "Your statement description must be at least 10 characters"
                    },
                    action: "Please provide some data"
                    },
                    submitHandler: function(form){
                        form.submit();
                        swal(
                            'Success!',
                            'Statement of Problem has been Submitted!',
                            'success'
                            )
                    }
                });
                
                });
                //- END VALIDATIONS
               
            });

            
