extends ../../home/views/navbar.pug

block content
    <div class="right_col" role="main">
    <div class="x_panel">
    //- <!-- DATA TABLE-->
    <center>
        <h1>STATEMENT OF INTENT</h1>
        
        <button class="btn btn-primary btn-lg" id="addproblem" type="button" data-toggle="modal" data-target="#modaladdproblem"><span class="fa fa-plus"></span> Add</button></h1>
    </center>
    <hr>
        <div class="container">
            <div class="" role="tabpanel" data-example-id="togglable-tabs">
                <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#tab_content1" id="all-tab" role="tab" data-toggle="tab" aria-expanded="true">ALL</a>
                    </li>
                    <li role="presentation"><a href="#tab_content2" id="submitted-tab" role="tab" data-toggle="tab" aria-expanded="true">Submitted</a>
                    </li>
                    <li role="presentation"><a href="#tab_content3" id="acknowledged-tab" role="tab" data-toggle="tab" aria-expanded="true">Acknowledged</a>
                    </li>
                    <li role="presentation"><a href="#tab_content4" id="rejected-tab" role="tab" data-toggle="tab" aria-expanded="true">Rejected</a>
                    </li>
                    <li role="presentation"><a href="#tab_content5" id="solved-tab" role="tab" data-toggle="tab" aria-expanded="true">Solved</a>
                    </li>
                </ul>
                
                    <div id="myTabContent" class="tab-content">
                        
                            //- START OF 1ST TAB (ALL)
                            <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="all-tab">
                                <div class="x_content">
                                    <div class="container">
                                        <div class="table-responsive m-b-40">
                                            <table id="datatable1" class="table table-borderless table-data3">
                                                <thead>
                                                    <tr>
                                                        <th>Statement Title</th>
                                                        <th>Created Date</th>
                                                        <th>Status</th>
                                                        <th>Action/s</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                each problem in tbl_problemstatement
                                                    <tr class="tr-shadow">
                                                        <td>
                                                            value=problem.varchar_statementTitle
                                                        </td>
                                                        <td>
                                                            value=problem.date_createdDate
                                                        </td>
                                                        <td>
                                                            value=problem.enum_problemStatus
                                                        </td>
                                                        <td>
                                                            button.btn.btn-success.mb-1(id="btn-view-prob" class="btn-view-problem" value= problem.int_statementID): span.fa.fa-eye View
                                                        </td>
                                                    </tr>        
                                                </tbody>
                                            </table>
                                        //- <!-- END DATA TABLE-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            //- END OF 1ST TAB
                    
                        
                            //- START OF 2ND TAB (Submitted)
                            <div role="tabpanel" class="tab-pane fade in" id="tab_content2" aria-labelledby="submitted-tab">
                                <div class="x_content">
                                    <div class="container">
                                        <div class="table-responsive m-b-40">
                                            <table id="datatable2" class="table table-borderless table-data3">
                                                <thead>
                                                    <tr>
                                                        <th>Statement Title</th>
                                                        <th>Created Date</th>
                                                        <th>Status</th>
                                                        <th>Action/s</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                each sub in tbl_submitted
                                                    <tr class="tr-shadow">
                                                        <td>
                                                            value=sub.varchar_statementTitle
                                                        </td>
                                                        <td>
                                                            value=sub.date_createdDate
                                                        </td>
                                                        <td>
                                                            value=sub.enum_problemStatus
                                                        </td>
                                                        <td>
                                                            button.btn.btn-success.mb-1(id="btn-view-prob" class="btn-view-problem" value= sub.int_statementID): span.fa.fa-eye View
                                                        </td>
                                                    </tr>        
                                                </tbody>
                                            </table>
                                        //- <!-- END DATA TABLE-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            //- END OF 2ND TAB

                        
                            //- START OF 3RD TAB (Acknowledged)
                            <div role="tabpanel" class="tab-pane fade in" id="tab_content3" aria-labelledby="acknowledged-tab">
                                <div class="x_content">
                                    <div class="container">
                                        <div class="table-responsive m-b-40">
                                            <table id="datatable3" class="table table-borderless table-data3">
                                                <thead>
                                                    <tr>
                                                        <th>Statement Title</th>
                                                        <th>Created Date</th>
                                                        <th>Status</th>
                                                        <th>Action/s</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                each ack in tbl_acknowledged
                                                    <tr class="tr-shadow">
                                                        <td>
                                                            value=ack.varchar_statementTitle
                                                        </td>
                                                        <td>
                                                            value=ack.date_createdDate
                                                        </td>
                                                        <td>
                                                            value=ack.enum_problemStatus
                                                        </td>
                                                        <td>
                                                            button.btn.btn-success.mb-1(id="btn-view-prob" class="btn-view-problem" value= ack.int_statementID): span.fa.fa-eye View
                                                        </td>
                                                    </tr>        
                                                </tbody>
                                            </table>
                                        //- <!-- END DATA TABLE-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            //- END OF 3RD TAB		

                        
                            //- START OF 4TH TAB (Rejected)
                            <div role="tabpanel" class="tab-pane fade in" id="tab_content4" aria-labelledby="rejected-tab">
                                <div class="x_content">
                                    <div class="container">
                                        <table id="datatable4" class="table table-borderless table-data3">
                                            <thead>
                                                <tr>
                                                    <th>Statement Title</th>
                                                    <th>Created Date</th>
                                                    <th>Status</th>
                                                    <th>Action/s</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            each rej in tbl_rejected
                                                <tr class="tr-shadow">
                                                    <td>
                                                        value=rej.varchar_statementTitle
                                                    </td>
                                                    <td>
                                                        value=rej.date_createdDate
                                                    </td>
                                                    <td>
                                                        value=rej.enum_problemStatus
                                                    </td>
                                                    <td>
                                                        button.btn.btn-success.mb-1(id="btn-view-prob" class="btn-view-problem" value= rej.int_statementID): span.fa.fa-eye View
                                                    </td>
                                                </tr>        
                                            </tbody>
                                        </table>
                                        //- <!-- END DATA TABLE-->
                                    </div>
                                </div>
                            </div>
                            //- END OF 4TH TAB	

                            //- START OF 5TH TAB (Solved)
                            <div role="tabpanel" class="tab-pane fade in" id="tab_content5" aria-labelledby="solved-tab">
                                <div class="x_content">
                                    <div class="container">
                                        <table id="datatable5" class="table table-borderless table-data3">
                                            <thead>
                                                <tr>
                                                    <th>Statement Title</th>
                                                    <th>Created Date</th>
                                                    <th>Status</th>
                                                    <th>Action/s</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            each sol in tbl_solved
                                                <tr class="tr-shadow">
                                                    <td>
                                                        value=sol.varchar_statementTitle
                                                    </td>
                                                    <td>
                                                        value=sol.date_createdDate
                                                    </td>
                                                    <td>
                                                        value=sol.enum_problemStatus
                                                    </td>
                                                    <td>
                                                        button.btn.btn-success.mb-1(id="btn-view-prob" class="btn-view-problem" value= sol.int_statementID): span.fa.fa-eye View
                                                    </td>
                                                </tr>        
                                            </tbody>
                                        </table>
                                        //- <!-- END DATA TABLE-->
                                    </div>
                                </div>
                            </div>
                            //- END OF 5TH TAB			
                    </div> 
            </div>	
        </div>

    </div>
    </div>
    </div>
    //- MODAL NEW PROBLEM STATEMENT
    <div class="modal fade bs-example-modal-lg" id="modaladdproblem" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            <div class="modal-body">
                <form class="form-horizontal form-label-left" method="POST" action='' id="formaddproblem" name="addproblem" novalidate>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title" id="myModalLabel"><span class="section">Add New Statement of Intent</span></h4>
             
                <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-3" for="problemtitle">Statement Title:
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-9">
                          <input id="problemtitle" class="form-control col-md-12 col-sm-12 col-xs-12" name="problem_title" id="problem_title" placeholder="Enter title here ..." required type="text">
                        </div>
                </div>
                <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-3 " for="problem_category">Problem Category:</label>
                        <div class="col-md-9 col-sm-9 col-xs-9">
                            <select name="problem_category" class="form-control" style=" padding:0.50em;" required>
                                <option disabled="disabled" selected="selected">Choose..</option>
                                    each category in tbl_projectcategory
                                        option(value=`${category.int_categoryID}`)= `${category.varchar_categoryName}`
                            </select>
                        </div>
                </div>
                <div class="item form-group">
                        <label for="target_beneficiary" class=" control-label col-md-3 col-sm-3 col-xs-3">Target Beneficiary:</label>
                        <div class="col-md-9 col-sm-9 col-xs-9">
                            <select class="select2_multiple form-control" onchange="getBeneficiary()" id="ap-projectbeneficiary" name="projectbeneficiaries[]" multiple="multiple">
                                each beneficiary in tbl_beneficiary
                                    option(value=`${beneficiary.int_beneficiaryID}`)=beneficiary.varchar_beneficiaryName+"   "
                            </select>
                        </div>
                </div>
                <div class="item form-group">
                        <label for="problem_description" class=" control-label col-md-3 col-sm-3 col-xs-3">Description:</label>
                        <div class="col-md-9 col-sm-9 col-xs-9">
                            <textarea name="problem_description" id="problem_description" rows="3" placeholder="Please fill project description ..." class="col-sm-11 form-control" required></textarea>
                        </div>
                </div>
                <br>
                <br>
                <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-3" for="residentName">Appealed By:
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-9">
                          <input id="residentName" class="form-control" name="residentName" id="residentName" placeholder="Enter resident's name that brought up the statement ..." required type="text">
                        </div>
                </div>
                <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-3" for="residentAddress">Address:
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-9">
                          <input id="residentAddress" class="form-control" name="residentAddress" id="residentAddress" placeholder="Enter resident's address ..." required type="text">
                        </div>
                </div>
                <br>
                <div class="modal-footer">    
                <button type="button" class="btn btn-default" data-dismiss="modal" style="float:right;">Cancel</button>
                <button type="submit" id="submit-problem" class="btn btn-primary"  style="background-color#21BA45;color:whitesmoke;border:none;float:right;">Send</button>
                <div style="float:left;" >Date Created:<b class="text-muted" id="problem_created"> </b></div>
                <input type="hidden" id="problem_createdValue" name="problem_createdValue" > 
                </form></div>
                </div>
            </div>
            </div>
        </div>
    </div>

    script.
        $('#datatable1').dataTable();
        $('#datatable2').dataTable();
        $('#datatable3').dataTable();
        $('#datatable4').dataTable();
        $('#datatable5').dataTable();

        //- SCRIPT FOR INPUT DATE
            n =  new Date();
            y = n.getFullYear();
            m = n.getMonth() + 1;
            d = n.getDate();
            document.getElementById("problem_created").innerHTML = + " " + m + "/" + d + "/" + y ;
            
            console.log(y + "-" + m + "-" + d);
            document.getElementById("problem_createdValue").value = y + "-" + m + "-" + d;


    //- MODAL VIEW PROBLEM STATEMENT
    
    <div class="modal fade bs-example-modal-lg" id="modalviewproblem" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel"><span class="section">View Details</span></h4> 
                    <div class="item form-group">
                            <label class="control-label col-md-3 " for="problemtitle">Statement Title:
                            </label>
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-8" id="aj-problemtitle">
                
                            </div>
                            <br>
                    </div>
                    <div class="item form-group">
                            <label class="control-label col-md-3 " for="problemstatus">Status:
                            </label>
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-8" id="aj-problemstatus" >
                
                            </div>
                            <br>
                    </div>
                    <div class="item form-group">
                            <label class="control-label col-md-3 " for="problemcontent">Statement Content:
                            </label>
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-8" id="aj-problemcontent">
                
                            </div>
                            <br>
                    </div>
                    <div class="item form-group">
                            <label class="control-label col-md-3 " for="problemcreated">Date Created:
                            </label>
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-8" id="aj-problemcreated">
                
                            </div>
                            <br>
                    </div>
                    <div class="item form-group">
                            <label class="control-label col-md-3 " for="problemcategory">Category:
                            </label>
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-8" id="aj-problemcategory">
                
                            </div>
                            <br>
                    </div>
                    <div class="item form-group">
                            <label class="control-label col-md-3 " for="problemBeneficiary">Beneficiary:
                            </label>
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-8" id="aj-problembeneficiary">
                
                            </div>
                            <br>
                            <br>
                            <br>
                    </div>
                    
                        <div class="item form-group">
                                <label class="control-label col-md-3" for="resName">Appealed By
                                </label>
                                <div class="col-md-1">
                
                                </div>
                                <div class="col-md-8" id="aj-resName">
                    
                                </div>
                                <br>
                        </div>
                        <div class="item form-group">
                                <label class="control-label col-md-3" for="resaddress">Address:
                                </label>
                                <div class="col-md-1">
                
                                </div>
                                <div class="col-md-8" id="aj-resaddress">
                    
                                </div>
                                <br>
                        </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" style="float:right;">Close</button>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>

    
    <script src="/newassets/vendor/jquery-3.2.1.min.js"></script>
    <script src="/asset_validation/dist/jquery.validate.min.js"></script>
    
    
    script.

        //- SCRIPT GET INT_STATEMENTID (VIEW MODAL)

            $(document).ready(function () {
                //- CODE FOR DATATABLE
                $('table.display').DataTable();

                $(document).on('click', '.btn-view-problem', function (e) {
                    e.preventDefault()
                    var Id = $(this).val();
                    console.log("================================Id(Class)")
                    console.log(Id);
                    console.log("================================Id(Class)")
                    $('#modalviewproblem').modal('show');
                    ajaxGet();

                    function ajaxGet(){
                    console.log("========Id");
                    console.log(Id);
                    console.log("========Id");

                    $.ajax({
                        type : "POST",
                        url : window.location + "/ajaxgetdetails",
                        data: { ajStatementID: Id},
                        dataType: "json",
                        success: function(tbl_problemstatement1){

                            $.each(tbl_problemstatement1, function (index, value) {
                                document.getElementById("aj-problemstatus").innerHTML = value.enum_problemStatus     
                                document.getElementById("aj-problemtitle").innerHTML = value.varchar_statementTitle
                                document.getElementById("aj-problemcontent").innerHTML = value.text_statementContent
                                document.getElementById("aj-problemcreated").innerHTML = value.date_createdDate
                                document.getElementById("aj-problemcategory").innerHTML = value.varchar_categoryName
                                document.getElementById("aj-resName").innerHTML = value.varchar_residentName
                                document.getElementById("aj-resaddress").innerHTML = value.text_residentAddress
                            });
                        },
                        error : function(e) {
                            console.log("ERROR: ", e);
                        }
                    });	

                    $.ajax({
                        type: 'POST',
                        url: window.location + "/ajaxbeneficiary",
                        data: { statementID: Id},
                        datatype: 'json',
                        success: function(tbl_beneficiary) {
                            var beneList = '<ul>';

                            $.each(tbl_beneficiary, function(index, value) {
                                console.log(value.length);

                                for(var i = 0 ; i < value.length ; i++) {
                                    beneList += "<li>"+value[i].varchar_beneficiaryName+"</li>";
                                }
                                beneList += "</ul>";
                            });

                            console.log(beneList);
                            document.getElementById("aj-problembeneficiary").innerHTML = beneList;
                        },
                        error: function(e) {
                            console.log("ERROR: ", e);
                        }
                    });
                }
                }); 

                

                //- SWEET ALERT CONFIRM SUBMIT
                $('#submit-problem').on('click',function (e) {
                    var form = $(this).parents('form');
                    e.preventDefault(); //prevent submit
                    
                    swal({
                        title: 'Are you sure?',
                        text: "You will submit this statement of problem.",
                        type: 'info',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes, submit it!'
                    }).then((result) => {
                        if (result.value) {
                            $('#formaddproblem').submit();
                        
                        }                        
                    })
                });
                //- START VALIDATIONS
                $(function() {
                $("#formaddproblem").validate({
                    rules: {
                    problem_title: {
                        required: true,
                        minlength: 10
                    },
                    problem_description:{
                        required: true,
                        minlength: 10
                    },
                    action: "required"
                    },
                    messages: {
                    problem_title: {
                        required: "Please enter some data",
                        minlength: "Your statement title must be at least 10 characters"
                    },
                    problem_description: {
                        required: "Please enter some data",
                        minlength: "Your statement description must be at least 10 characters"
                    },
                    action: "Please provide some data"
                    },
                    submitHandler: function(form){
                        form.submit();
                        swal(
                            'Success!',
                            'Statement of Problem has been Submitted!',
                            'success'
                            )
                    }
                });
                
                });
                //- END VALIDATIONS
               
            });

            
