extends ../../home/views/navbar.pug

block content
    <div class="right_col" role="main">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                each proj in tbl_project
                    <div class=""  id="noPRINT">
                        a(href=`/office/projects` class="btn btn-danger btn-lg pull-right fa"): span.fa.fa-times-circle  
                        <form id="formcloseproj" name="formcloseproj" method="POST" action='/office/projects/endproj'>
                            <input hidden id="projID" name="projID">
                            button.btn.btn-danger.btn-s.mb-1(id="finproj" value= proj.int_projectID class="finproj pull-right" ): span.fa End Project
                            button.btn.btn-success.btn-s.mb-1(id="printliq" class="finproj pull-right" ): span.fa.fa-print Print Liquidation
                        </form>
                    </div> 
                    <div class="x_title" >
                        <h1 class="text-center">Project - Liquidation</h1>
                            <h4 class="text-center">
                                value="(" + proj.varchar_projectName + ")"
                            </h4>
                    </div>             
                    <div class="content-wrapper">
                        <div class="container-fluid">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-bordered" id="datatable" cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <th colspan="2"></th>
                                                        <th colspan="2" class="text-center">Estimated</th>
                                                        <th colspan="2" class="text-center">Actual</th>
                                                    </tr>
                                                </thead>
                                                <thead>
                                                    <tr>
                                                        <th>Expenses Description</th>
                                                        <th>Unit Price</th>
                                                        <th>QTY</th>
                                                        <th>Amount</th>
                                                        <th>QTY</th>
                                                        <th>Amount</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <form>
                                                    each exp in tbl_expenses
                                                        <tr class="tr-shadow">
                                                            <td>
                                                                value=exp.text_expenseDescription
                                                            </td>
                                                            <td>Php 
                                                                value=exp.decimal_unitPrice
                                                            </td>
                                                            <td>
                                                                value=exp.int_estimatedQuantity
                                                            </td>
                                                            <td>
                                                                if exp.decimal_estimatedAmount == null
                                                                    p 
                                                                else
                                                                    p Php #{exp.decimal_estimatedAmount} 
                                                            </td>
                                                            <td>
                                                                value=exp.int_actualQuantity
                                                            </td>
                                                            <td>Php 
                                                                value=exp.decimal_actualAmount
                                                            </td>
                                                        </tr>
                                                    </form>    
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <th colspan="2"</th>
                                                        <th colspan="1" class=""><div class="pull-right" >Total Estimatation: </div>
                                                        </th>
                                                        <th>Php 
                                                        each tot in totalest
                                                            value=tot.total_estimatedexpense 
                                                        </th>
                                                        <th colspan="1" class=""><div class="pull-right" >Total Amount: </div>
                                                        </th>
                                                        <th>Php 
                                                        each totals in total
                                                            value=totals.total_expense 
                                                        </th>
                                                    </tr>
                                                    <tr>
                                                        <th colspan="6">
                                                            br
                                                            br
                                                        </th>
                                                    </tr>
                                                    <tr>
                                                        <th colspan="3" rowspan="2"></th>
                                                        <th >Budget Acquired: <br/><br/>  - Total Expenses:</th>
                                                        <th colspan="2" > Php 
                                                            value=proj.decimal_actualBudget
                                                        <br><br> Php 
                                                        each tot2 in total
                                                            value=tot2.total_expense 
                                                        </th>
                                                        
                                                    </tr>
                                                    <tr>
                                                        <th>Remaining Budget:</th>
                                                        <th colspan="2"> Php 
                                                        each rb in tbl_rembal
                                                            value=rb.budgetbalance 
                                                        </th>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
        <!-- END STATISTIC-->
        <script src="/newassets/vendor/jquery-3.2.1.min.js"></script>
        script(src='/assets/js/printjs.min.js')


        script.

            $(document).ready(function () {

                $('#finproj').on('click',function (e) {
                    e.preventDefault();
                    var form = $(this).parents('form'); //prevent submit
                    var Id = $(this).val();
                    document.getElementById("projID").value = Id

                                    
                            swal({
                            title: 'Are you sure?',
                            text: "You sure to close application of project?.",
                            type: 'info',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'Yes, Close it!'
                            }).then((result) => {
                            if (result.value) {
                                $(form).submit();
                            }                        
                            })
                    });
                $('#printliq').click(function(e){
                    e.preventDefault();
                    $('#noPRINT').attr('style', 'display:none;')
                    javascript:window.print(print)
                    $('#formprint').submit();
                    $('#noPRINT').attr('style', 'display:show;')
                });
                    
            });