extends ../../home/views/navbar.pug

block content
    <div class="right_col" role="main">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h1>Projects</h1>
                    </div>              
                    <div class="content-wrapper">
                        <div class="container-fluid">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-bordered" id="datatable" cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <th>Project Name</th>
                                                        <th>Status</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </thead>
                                                <tfoot>
                                                    <tr>
                                                        <th>Project Name</th>
                                                        <th>Status</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </tfoot>
                                                <tbody>
                                                each project in tbl_project
                                                    <tr>
                                                        <td>
                                                            value=project.varchar_projectName
                                                        </td>
                                                        <td>
                                                            value=project.enum_projectStatus
                                                        </td>
                                                        <td>
                                                            a(href=`/office/projects/ongoingproject/${project.int_projectID}/viewproj` id="viewproj" class="btn btn-primary btn-xs btn-block"): span View Details
                                                            if project.enum_projectStatus == "Approved"
                                                                a(href=`/office/projects/ongoingproject/${project.int_projectID}/startproj` id="startproj" class="btn btn-success btn-s btn-block"): span Start Project
                                                            if project.enum_projectStatus == "Finished"
                                                                button.btn.btn-dark.btn-s.btn-block(type='submit') Liquidate
                                                            if project.enum_projectStatus == "Ongoing"
                                                                a(href=`/office/projects/ongoingproject/${project.int_projectID}/viewapp` id="viewapp" class="btn btn-info btn-s btn-block"): span View Beneficiaries
                                                            if project.enum_projectStatus == "New"
                                                                button.btn.btn-success.btn-sm(id="btn-pro-cheque" name="butcheck" class="btn-xs btn-block" value= project.int_projectID onclick="projectIDcheque()" data-toggle="modal" data-target="#chequeModal"): span.fa.fa-check  Cheque Number
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
        <!-- END STATISTIC-->
        //- MODAL NEW PROJECT STATUS
        <div class="modal fade" id="chequeModal" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                <div class="modal-content">
                
                    <form method="POST" action="confirmcheck" data-parsley-validate class="form-horizontal form-label-left">
                            <div class="modal-header">
                                <h4 class="modal-title" id="mediumModalLabel">Cheque Number
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </h4>
                            </div>
                            <div class="modal-body">
                                //- <div class="input-group mb-3">
                                //-     <div class="input-group-prepend">
                                //-         <span class="input-group-text" >Approval Letter</span>
                                //-     </div>
                                //-     <div class="custom-file">
                                //-         <input type="file" class="custom-file-input" name="letterfile">
                                //-         <label class="custom-file-label" >Choose file</label>
                                //-     </div>
                                //- </div>

                                <div class="input-group">
                                    <input type="hidden" id="PROJECT_idcheq" name="PROJECT_idcheq" >
                                    <input type="text" id="chequeNumber" name="chequeNumber"class="form-control">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-success">Send</button>
                                    </span>
                                </div>

                                //- <div class="input-group mb-3">
                                //-     <div class="input-group-prepend">
                                //-         <span class="input-group-text">Actual Budget</span>
                                //-         <span class="input-group-text"> P </span>
                                //-     </div>
                                //-     <input type="text" class="form-control" name="actualbudget" required> 
                                //-     <div class="input-group-append">
                                //-         <span class="input-group-text">0.00</span>
                                //-     </div>
                                //- </div>
                            </div>
                    </form>
                </div>
            </div>
            </div>
            
            script.
                function projectIDcheque() {
                    var ID = document.getElementById("btn-pro-cheque").value;
                    console.log(ID);
                    document.getElementById("PROJECT_idcheq").value = ID;
                }