extends ../../home/views/navbar.pug

block content
    <div class="right_col" role="main">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h1>Projects</h1>
                    </div>              
                    <div class="content-wrapper">
                        <div class="container-fluid">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-bordered" id="datatable" cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <th>Project Name</th>
                                                        <th>Alloted Slot</th>
                                                        <th>Available Slot</th>
                                                        <th>Status</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                each project in tbl_project
                                                    <tr>
                                                        <td>
                                                            value=project.varchar_projectName
                                                        </td>
                                                        <td>
                                                            value=project.int_allotedSlot
                                                        </td>
                                                        <td>
                                                        each slot in slotcount
                                                            if project.int_projectID == slot.projID
                                                                if project.enum_projectStatus != "Ongoing"
                                                                    <p class="text-center">-------</p>
                                                                //- if project.int_allotedSlot == (project.int_allotedSlot + slot.slotcount)
                                                                else
                                                                    if slot.slotCount == 0
                                                                        <p>Fully alloted</p>
                                                                    else
                                                                        value=slot.slotCount
                                                        </td>
                                                        <td>
                                                            if project.enum_projectStatus == "ClosedRel"
                                                                <p>Closed Releasing</p>
                                                            else
                                                                value=project.enum_projectStatus
                                                        </td>
                                                        <td>
                                                            a(href=`/office/projects/${project.int_projectID}/viewproj` id="viewproj" class="btn btn-primary btn-sm btn-block "): span.fa View Details & Applications
                                                            if project.enum_projectStatus != "Approved"
                                                                a(href=`/office/projects/${project.int_projectID}/viewapp` id="viewapp" class="btn btn-info btn-sm btn-block"): span.fa View Beneficiaries
                                                            if project.enum_projectStatus == "Approved"
                                                                button.btn.btn-success.btn-sm.btn-block(id="btn-open"  value= project.int_projectID class="btn-open"): span.fa.fa-open Open Project
                                                                <form hidden id="formprojectOPEN" method="POST" action='/office/projects/startproj' name="formprojectOPEN">
                                                                    <input id="int_projectID" name="int_projectID" type="hidden" >
                                                                </form>
                                                            if project.enum_projectStatus == "ClosedRel"
                                                                a(href=`/office/projects/${project.int_projectID}/liquidation` id="liquidation" class="btn btn-dark btn-sm btn-block"): span.fa Liquidate
                                                            //- if project.enum_projectStatus == "New"
                                                            //-     button.btn.btn-success.btn-sm(id="btn-pro-cheque" name="butcheck" class="btn-sm btn-block" value= project.int_projectID onclick="projectIDcheque()" data-toggle="modal" data-target="#chequeModal"): span.fa.fa-check  Cheque Number
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
        <!-- END STATISTIC-->
                                //- //- MODAL NEW PROJECT STATUS
                                //- <div class="modal fade" id="chequeModal" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true">
                                //-     <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                                //-         <div class="modal-content">
                                        
                                //-             <form method="POST" action="confirmcheck" data-parsley-validate class="form-horizontal form-label-left">
                                //-                     <div class="modal-header">
                                //-                         <h4 class="modal-title" id="mediumModalLabel">Cheque Number
                                //-                         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                //-                             <span aria-hidden="true">&times;</span>
                                //-                         </button>
                                //-                         </h4>
                                //-                     </div>
                                //-                     <div class="modal-body">
                                //-                         <div class="input-group">
                                //-                             <input type="hidden" id="PROJECT_idcheq" name="PROJECT_idcheq" >
                                //-                             <input type="text" id="chequeNumber" name="chequeNumber"class="form-control">
                                //-                             <span class="input-group-btn">
                                //-                                 <button type="submit" class="btn btn-success">Send</button>
                                //-                             </span>
                                //-                         </div>

                                //-                         //- <div class="input-group mb-3">
                                //-                         //-     <div class="input-group-prepend">
                                //-                         //-         <span class="input-group-text">Actual Budget</span>
                                //-                         //-         <span class="input-group-text"> P </span>
                                //-                         //-     </div>
                                //-                         //-     <input type="text" class="form-control" name="actualbudget" required> 
                                //-                         //-     <div class="input-group-append">
                                //-                         //-         <span class="input-group-text">0.00</span>
                                //-                         //-     </div>
                                //-                         //- </div>
                                //-                     </div>
                                //-             </form>
                                //-         </div>
                                //-     </div>
                                //-     </div>
            
                                <div class="modal fade" id="startprojectModal" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <form class="form-horizontal form-label-left" method="POST" action='/office/projects/openlateapplication' id="formstartreason">
                                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                                                    </button>
                                                    <h4 class="modal-title" id="mediumModalLabel">Scheduled Date to Start Application:
                                                        <div class="" id="aj-projectDate">
                                                    
                                                        </div>
                                                    </h4>
                                                    <div class="modal-body">
                                                        <div class="form-group">
                                                                <div class="col-md-1 col-sm-1 col-xs-12">
                                                                </div>
                                                                <label class="col-md-5" for="problemcreated">Reason of early/late project application start
                                                                </label>
                                                        </div>
                                                        <div class="col-md-1 col-sm-1 col-xs-12">
                                                        </div>
                                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                                            <textarea class="resizable_textarea form-control" id="projectReason" name="projectReason" placeholder=""></textarea>
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="hidden" id="projectID" name="projectID" >
                                                            <input type="hidden" id="current_date" name="current_date" >
                                                            
                                                            <button type="submit" id="but-sub" class="btn btn-success">Send</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <div class="" id="aj-current_date">
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <script src="/newassets/vendor/jquery-3.2.1.min.js"></script>


                                script.
                                    var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
                                    n =  new Date();
                                    y = n.getFullYear();
                                    m = n.getMonth() + 1;
                                    d = n.getDate();
                                    mon = months[n.getMonth()];
                                    //- currentdate = y + "-" + m + "-" + d;
                                    currdate =  mon + " " + d + ", " + y;
                                    currentdate =  m + "-" + d + "-" + y;

                                    $(document).ready(function () { 
                                        $('.btn-open').click(function (e) {
                                            var Id = $(this).val();
                                            document.getElementById("int_projectID").value = Id
                                            
                                            ajaxGetproj();
                                            function ajaxGetproj(){
                                            $.ajax({
                                                type : "POST",
                                                url : window.location + "/ajaxgetprojectdetails",
                                                data: { ajProjectID: Id},
                                                dataType: "json",
                                                success: function(tbl_project1){
                                                    console.log(tbl_project1)

                                                    $.each(tbl_project1, function (index, value) {
                                                        console.log(value);
                                                        if(value.enum_projectStatus == "Approved"){
                                                            if(value.date_targetStartApp != currentdate){
                                                                $('#startprojectModal').modal('show');
                                                                document.getElementById("projectID").value = Id
                                                                document.getElementById("aj-projectDate").innerHTML = value.date_targetStartApp
                                                                document.getElementById("aj-current_date").innerHTML = currdate
                                                                document.getElementById("current_date").value = currentdate
                                                            }
                                                            else
                                                            {
                                                                swal({
                                                                title: 'Are you sure?',
                                                                text: "You will start the appliction of this project.",
                                                                type: 'info',
                                                                showCancelButton: true,
                                                                confirmButtonColor: '#3085d6',
                                                                cancelButtonColor: '#d33',
                                                                confirmButtonText: 'Yes, Start appliction!'
                                                                }).then((result) => {
                                                                if (result.value) {
                                                                    swal({
                                                                    text: "Application Opened Successfully",
                                                                    type: 'success',
                                                                    confirmButtonColor: '#3085d6',
                                                                    confirmButtonText: 'OK!'
                                                                    }).then((result) => {
                                                                    if (result.value) {
                                                                        $('#formprojectOPEN').submit();
                                                                    }                        
                                                                    })
                                                                }                        
                                                                })
                                                            }
                                                        }
                                                        console.log("Success: " );
                                                    });                                     
                                                    
                                                },
                                                error : function(e) {
                                                    console.log("ERROR: ", e);
                                                }
                                            });	
                                        }
                                        $('#but-sub').on('click',function (e) {
                                            var form = $(this).parents('form');
                                            e.preventDefault(); //prevent submit
                                                    
                                            swal({
                                                title: 'Are you sure?',
                                                text: "You sure to open application of project?.",
                                                type: 'info',
                                                showCancelButton: true,
                                                confirmButtonColor: '#3085d6',
                                                cancelButtonColor: '#d33',
                                                confirmButtonText: 'Yes, Open it!'
                                                }).then((result) => {
                                                if (result.value) {
                                                    swal({
                                                    text: "Application Opened Successfully",
                                                    type: 'success',
                                                    confirmButtonColor: '#3085d6',
                                                    confirmButtonText: 'OK!'
                                                    }).then((result) => {
                                                    if (result.value) {
                                                        $(formstartreason).submit();
                                                    }                        
                                                    })
                                            }                        
                                            })
                                        });
                                    });
                                    });