extends ../../home/views/navbar.pug

block content
    <div class="right_col" role="main">
    <div class="x_panel">
    //- <!-- DATA TABLE-->
    <center>
        <h1>ONGOING PROJECTS - Applications</h1>
        each project in tbl_project
            <small>
                value=tbl_project.varchar_projectName
            </small>
    </center>
    <hr>
    <div class="container">
        <div class="table-responsive m-b-40">
                <table id="datatable" class="table table-borderless table-data3">
                    <thead>
                        <tr>
                            <th>Last Name</th>
                            <th>First Name</th>
                            <th>Middle Name</th>
                            <th>Civil Status</th>
                            <th>Gender</th>
                            <th>Email Address</th>
                            <th>Action/s<th>
                        </tr>
                    </thead>
                    <tbody>
                    each app in tbl_application
                        <tr class="tr-shadow">
                            <td>
                                value=app.varchar_lastName
                            </td>
                            <td>
                                value=app.varchar_firstName
                            </td>
                            <td>
                                value=app.varchar_middleName
                            </td>
                            <td>
                                value=app.enum_civilStatus
                            </td>
                            <td>
                                value=app.enum_gender
                            </td>
                            <td>
                                value=app.varchar_emailAddress
                            </td>
                            <td>
                                button.btn.btn-success(id="btn-view-prob" class="btn-view-problem btn-s" value= app.int_applicationID): span.fa.fa-eye View
                                a(href=`#` id="approveApp" class="btn btn-primary btn-s"): span.fa.fa-check  Accept
                                a(href=`#` id="rejectApp" class="btn btn-danger btn-s"): span.fa.fa-close  Reject
                            </td>
                        </tr>        
                    </tbody>
                </table>
        </div>
    //- <!-- END DATA TABLE-->
    </div>
    </div>
    </div>