extends ../../home/views/navbar.pug

block content
    <div class="right_col" role="main">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                each project in tbl_projectproposal
                    <div class="x_title">
                        <h2>Project Details<small>Date Created: 
                        value= "(" + project.date_createdDate + ")"
                        </small></h2>
                        <a class="collapse-link"><i class="fa fa-chevron-up pull-right"></i></a>
                        <small class="pull-right">Status: 
                        value=project.enum_projectStatus
                        </small>
                    <div class="clearfix"></div>
                </div>
                    <div class="x_content">
                    each project in tbl_projectproposal
                        <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Problem</th>
                                <th>   </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Problem to be solved:</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td>
                                </td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <th>Basic Information</th>
                                <th>   </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Project Title:</th>
                                <td>
                                    <p>
                                        value=project.varchar_projectName
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Category:</th>
                                <td>
                                each cat in tbl_projectcategory
                                    value=cat.varchar_categoryName
                                    <br/>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Project Rationale:</th>
                                <td>
                                value=project.varchar_projectRationale
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Project Description:</th>
                                <td>
                                value=project.text_projectDescription
                                </td>
                            </tr>
                            <tr>
                            <th scope="row">Project Objective:</th>
                                <td>
                                value=project.text_projectObjective
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td></td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr >
                                <th>Beneficiary</th>
                                <th>   </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Target Beneficiary:</th>
                                    <td>
                                    each prbf in tbl_projectbeneficiary
                                        value=prbf.varchar_beneficiaryName
                                        <br/>
                                    </td>
                            </tr>
                            <tr>
                                <th scope="row">Alloted Slot:</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td>
                                value=project.int_allotedSlot
                                </td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr >
                                <th>Requirements</th>
                                <th>   </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Requirements to be passed:</th>
                                <td>
                                each prjreq in tbl_projectrequirement
                                    value=prjreq.varchar_requirementName
                                    <br/>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td></td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr >
                                <th>Timeline</th>
                                <th>   </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Duration of Application:</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">Releasing Date:</th>
                                <td>
                                value=project.datetime_releasingEnd
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Releasing Location:</th>
                                <td>
                                each rel in tbl_releaselocation
                                    value=rel.varchar_locationName
                                    <br/>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td></td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr >
                                <th>Budget</th>
                                <th>   </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Actual Budget:</th>
                                <td>PHP 
                                    value=project.decimal_actualBudget
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            each project in tbl_projectproposal
                if project.enum_projectStatus !== "Proposed"
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Applications</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div>
                                input(type="checkbox" id="check-applications" name="checkApplications[]" class="icheckbox_flat-green" style="margin-left:3%;")
                                button(type="submit" id="buttonaccept" class="btn btn-primary btn-s" name="buttonaccept" style="margin-left:2%;"): span.fa.fa-check  Accept
                                button(type="submit" id="buttonreject" class="btn btn-danger btn-s" name="buttonreject"): span.fa.fa-close  Reject
                            <br>
                            <br>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-bordered" id="datatable" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Last Name</th>
                                            <th>First Name</th>
                                            <th>Middle Name</th>
                                            <th>Email Address</th>
                                            <th>Status</th>
                                            <th>Action/s</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th></th>
                                            <th>Last Name</th>
                                            <th>First Name</th>
                                            <th>Middle Name</th>
                                            <th>Email Address</th>
                                            <th>Status</th>
                                            <th>Action/s</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        each app in applications
                                            <tr>
                                                <td>
                                                if app.enum_applicationStatus == "Pending" 
                                                    input(type="checkbox" id="check-applications" name="checkApplications[]" class="icheckbox_flat-green" value=`${app.int_applicationID}` )
                                                </td>
                                                <td>
                                                    value=app.varchar_lastName
                                                </td>
                                                <td>
                                                    value=app.varchar_firstName
                                                </td>
                                                <td>
                                                    value=app.varchar_middleName
                                                </td>
                                                <td>
                                                    value=app.varchar_emailAddress
                                                </td>
                                                <td>
                                                    value=app.enum_applicationStatus
                                                </td>
                                                <td>
                                                    button.btn.btn-success(id="btn-view-application" class="btn-view-application btn-s" value= app.int_applicationID): span.fa.fa-eye View Details
                                                    if app.enum_applicationStatus == "Pending"
                                                        form(method="POST" action=`/office/projects/ongoingproject/${app.int_projectID}/viewproj/accept`)
                                                            input(value= app.int_applicationID name="int_applicationID" required, hidden)
                                                            button(type="submit" id="buttonaccept" class="btn btn-primary btn-s" name="buttonaccept" ): span.fa.fa-check  Accept
                                                        form(method="POST" action=`/office/projects/ongoingproject/${app.int_projectID}/viewproj/reject`)
                                                            input(value= app.int_applicationID name="int_applicationID"  required, hidden)
                                                            button(type="submit" id="buttonreject" class="btn btn-danger btn-s" name="buttonreject" value= app.int_applicationID): span.fa.fa-close  Reject
                                                </td>
                                            </tr>
                                    </tbody>
                                </table> 
                            
                            </div>                   
                        </div>
                    </div>
            //- DIV RIGHT
            </div>


            //- MODAL VIEW APPLICANT DETAIL
            <div class="modal fade bs-example-modal-lg" id="modalviewapplication" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                <div class="modal-body">
                    
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title" id="myModalLabel"><span class="section">View Application Details</span></h4> 
                        <div class="item form-group">
                                <label class="control-label col-md-2" for="aj-lastname">Last Name:
                                </label>
                                <div class="col-md-9" id="aj-lastname">
                    
                                </div>
                                <br>
                        </div>
                        <div class="item form-group">
                                <label class="control-label col-md-2" for="aj-firstname">First Name:
                                </label>
                                <div class="col-md-9" id="aj-firstname" >
                    
                                </div>
                                <br>
                        </div>
                        <div class="item form-group">
                                <label class="control-label col-md-2" for="aj-middlename">Middle Name:
                                </label>
                                <div class="col-md-9" id="aj-middlename">
                    
                                </div>
                                <br>
                        </div>
                        <div class="item form-group">
                                <label class="control-label col-md-2" for="aj-birthdate">Birthdate:
                                </label>
                                <div class="col-md-9" id="aj-birthdate">
                    
                                </div>
                                <br>
                        </div>
                        <div class="item form-group">
                                <label class="control-label col-md-2" for="aj-gender">Gender:
                                </label>
                                <div class="col-md-9" id="aj-gender">
                    
                                </div>
                                <br>
                        </div>
                        <div class="item form-group">
                                <label class="control-label col-md-2" for="aj-year">Year of Residency:
                                </label>
                                <div class="col-md-9" id="aj-year">
                    
                                </div>
                                <br>
                        </div>
                        <div class="item form-group">
                                <label class="control-label col-md-2" for="aj-civil">Civil Status:
                                </label>
                                <div class="col-md-9" id="aj-civil">
                    
                                </div>
                                <br>
                        </div>
                        <div class="item form-group">
                                <label class="control-label col-md-2" for="aj-contact">Contact Number:
                                </label>
                                <div class="col-md-9" id="aj-contact">
                    
                                </div>
                                <br>
                        </div>
                        <div class="item form-group">
                                <label class="control-label col-md-2" for="aj-email">Email Address:
                                </label>
                                <div class="col-md-9" id="aj-email">
                    
                                </div>
                                <br>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" style="float:right;">Close</button>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>

        <script src="/newassets/vendor/jquery-3.2.1.min.js"></script>
    script.

        //- SCRIPT GET INT_APPLICATIONID (VIEW MODAL)

            $(document).ready(function () {

                $('.btn-view-application').click(function (e) {
                    e.preventDefault()
                    var Id = $(this).val();
                    console.log("================================Id(Class)")
                    console.log(Id);
                    console.log("================================Id(Class)")
                    $('#modalviewapplication').modal('show');
                    ajaxGet();

                    function ajaxGet(){
                    console.log("========Id");
                    console.log(Id);
                    console.log("========Id");

                    $.ajax({
                        type : "POST",
                        url : window.location + "/ajaxapplicantdetails",
                        data: {ajApplicationID: Id},
                        dataType: "json",
                        success: function(tbl_application){

                            $.each(tbl_application, function (index, value) {

                                document.getElementById("aj-lastname").innerHTML = value.varchar_lastName    
                                document.getElementById("aj-firstname").innerHTML = value.varchar_firstName
                                document.getElementById("aj-middlename").innerHTML = value.varchar_middleName
                                document.getElementById("aj-birthdate").innerHTML = value.date_birthDate
                                document.getElementById("aj-gender").innerHTML = value.enum_gender
                                document.getElementById("aj-year").innerHTML = value.int_applicantResidency
                                document.getElementById("aj-civil").innerHTML = value.enum_civilStatus
                                document.getElementById("aj-contact").innerHTML = value.varchar_contactNumber
                                document.getElementById("aj-email").innerHTML = value.varchar_emailAddress
                                    
                                console.log("Success: " );
                            });                             
                        },
                        error : function(e) {
                            console.log("ERROR: ", e);
                        }
                    });	
                }
                }); 
            });
            
