extends ../../home/views/navbar.pug

block content
    <div class="right_col" role="main">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h1 class="text-center">Annual Budget
                        <br/>
                        <div id="btnForNxtYear">
                            <button class="btn btn-primary btn-md " id="addprojcat" type="button" data-toggle="modal" data-target=".bs-example-modal-sm"><span class="fa fa-plus"></span> Input Next Year's Budget</button>
                        </div>
                        </h1>
                    </div>            
                    <div class="content-wrapper">
                        <div class="container-fluid">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-striped " id="datatable" cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <th>YEAR</th>
                                                        <th>Budget Alloted</th>
                                                        <th>Remaining Budget</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                each budget in tbl_annualbudget
                                                    <tr>
                                                        <td>
                                                            value= budget.date_budgetYear
                                                        </td>
                                                        <td>₱ 
                                                            value= budget.decimal_annualBudget.toLocaleString()
                                                        </td>
                                                        <td>₱ 
                                                            value= budget.decimal_annualRemaining.toLocaleString()
                                                        </td>
                                                        <td> 
                                                            button.btn.btn-success.mb-1(id="btn-view-budget" class="btn-view-budget" value= budget.int_budgetID): span.fa.fa-eye View   
                                                        </td>
                                                    </tr>
                                                each budg in nextyear
                                                    input(type="hidden" id="year2" name="year2" required="required" value=`${budg.date_budgetYear}` )
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <form class="form-horizontal form-label-left" method="POST" action='#' id="formNxtBudget" >
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel"><span class="section">
                            <div id="nextYear">
                            </div>    
                        </span></h4>
                        <div class="form-group">
                            <label class=" col-sm-12 col-xs-12" for="budget">Input next year's budget:
                            </label>    
                        </div>
                        <table class="table table-striped " id="datatable" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Category</th>
                                    <th>Budget</th>
                                </tr>
                            </thead>
                            <tbody>
                            each category in tbl_category
                                <tr>
                                    <td>
                                        value= category.varchar_categoryName
                                        input(type="hidden" id="categID" name="categID" required="required" value=`${category.int_categoryID}` )
                                    </td>
                                    <td>
                                        <input type="number"   id="categBudget" name="categBudget" class="categBudget form-control"  placeholder="Enter budget...">
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th colspan="1" class=""><div class="pull-right" >Annual Budget: </div>
                                    </th>
                                    <th>
                                        <div id="" class=" ">
                                            <input type="number" readonly id="totalBudget" name="totalBudget" class="totalBudget form-control" required placeholder="Amount">
                                        </div>
                                    </th>
                                </tr>
                            </tfoot>
                        </table>
                        <div class="modal-footer">
                            <button type="submit" id="submitAddbutton" class="btn btn-primary float-right" position="center" style="background-color#21BA45;color:whitesmoke;border:none;">Submit</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade bs-example-modal-lg" id="modalviewbudget" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            <div class="modal-body">
                
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel"><span class="section">View Budget Details</span></h4> 
                    <div class="item form-group">
                            <label class="control-label col-md-2" for="budgetYear">YEAR:
                            </label>
                            <div class="col-md-9 budgetYear" id="budgetYear">
                
                            </div>
                            <br>
                    </div>
                    <div class="item form-group">
                            <label class="control-label col-md-2" for="givenBudget">Total Budget:
                            </label>
                            <div class="col-md-9 givenBudget" id="givenBudget" >
                
                            </div>
                            <br>
                    </div>
                    <div class="item form-group">
                            <label class="control-label col-md-2" for="remBudget">Remaining Budget:
                            </label>
                            <div class="col-md-9 remBudget" id="remBudget">
                
                            </div>
                            <br>
                    </div>
                        <table class="table table-striped " id="datatable" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Category</th>
                                    <th>Budget</th>
                                </tr>
                            </thead>
                            <tbody>
                            each category in tbl_category
                                <tr>
                                    <td>
                                        value= category.varchar_categoryName
                                        input(type="hidden" id="categID" name="categID" required="required" value=`${category.int_categoryID}` )
                                    </td>
                                    <td>
                                        <div  class="categBudget">
                                        
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    //- <div>
                    //- <div class="item form-group">
                    //-         <label class="control-label col-md-2" for="projectrelend">End of Application (Target Date):
                    //-         </label>
                    //-         <div class="col-md-9" id="projectrelend">
                
                    //-         </div>
                            
                    //- </div>
                    <br>
                    <br>
                    <br>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" style="float:right;">Close</button>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <script src="/newassets/vendor/jquery-3.2.1.min.js"></script>
    <script src="/asset_validation/dist/jquery.validate.min.js"></script>

    script.
        var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
        n =  new Date();
        y = n.getFullYear();
        m = n.getMonth() + 1;
        d = n.getDate();

        var yr = y + 1;

        console.log(yr);
        //- document.getElementById("year").value = yr;
        //- document.getElementById("nextYear").innerHTML = "Year " + yr + "'s Budget";

        var mon = months[n.getMonth()];

        currdate =  mon + " " + d + ", " + y;
        currentdate =  m + "-" + d + "-" + y;

        console.log("month");
        console.log(m);

        $(document).ready(function () {
            //- SWEET ALERT CONFIRM SUBMIT
            
            $(".categBudget").on("change", function() {   
                var catBUD = [];
                var annualBudget =0
                console.log();
                $(".categBudget").each(function (){
                    if( !$(this).val()){
                        catBUD.push(0);
                    }
                        //- continue;
                    else {
                        catBUD.push($(this).val());
                    }
                });
                for(var i =0 ;i < catBUD.length; i++)
                {
                    console.log(catBUD[i]);
                    catBUD[i] = parseInt(catBUD[i]);
                    annualBudget += catBUD[i];
                    console.log(annualBudget);
                    $(".totalBudget").val(annualBudget);
                }
                
            });
            $('#submitAddbutton').on('click',function (e) {
                var form = $(this).parents('form');
                e.preventDefault(); //prevent submit
                    ajaxGet();

                    function ajaxGet(){
                    console.log("========Id");
                    console.log("========Id");

                    $.ajax({
                        type : "POST",
                        url : window.location + "/budgetdetails",
                        data: { ajProjectID: yr},
                        dataType: "json",
                        success: function(tbl_budget){

                        console.log(tbl_budget)

                            $.each(tbl_budget, function (index, budget) {
                                console.log(budget);
                                console.log(budget[0].date_budgetYear);
                                console.log(yr);
                                if(budget[0].date_budgetYear != yr)
                                {
                                    console.log("PWEDE");
                                    swal({
                                    title: 'Are you sure?',
                                    text: "You will record the budget for next year.",
                                    type: 'warning',
                                    showCancelButton: true,
                                    confirmButtonColor: '#3085d6',
                                    cancelButtonColor: '#d33',
                                    confirmButtonText: 'Yes, record it!'
                                    }).then((result) => {
                                        if (result.value) {
                                            $('#formNxtBudget').submit();
                                        }                 
                                    })
                                }
                                else
                                {
                                    swal("Sorry!", "Budget for "+yr +" was already input!", "warning");
                                }
                                console.log("Success: " );
                            });
                                                        
                            
                        },
                        error : function(e) {
                            console.log("ERROR: ", e);
                        }
                    });	
                }       
            });
            
            $('.btn-view-budget').click(function (e) {
                    e.preventDefault()
                    var Id = $(this).val();
                    console.log("================================Id(Class)")
                    console.log(Id);
                    console.log("================================Id(Class)")
                    $('#modalviewbudget').modal('show');
                    ajaxGet();

                    function ajaxGet(){
                    console.log("========Id");
                    console.log(Id);
                    console.log("========Id");

                    $.ajax({
                        type : "POST",
                        url : window.location + "/ajaxbudgetdetails",
                        data: { ajBudgetID: Id},
                        dataType: "json",
                        success: function(tbl_budget){

                        console.log(tbl_budget)
                        var counter =0;
                            $.each(tbl_budget, function (index, value) {
                                console.log(value.length);

                                document.getElementById("budgetYear").innerHTML = value[0].date_budgetYear    
                                document.getElementById("givenBudget").innerHTML = "Php " +  value[0].decimal_annualBudget.toLocaleString();
                                document.getElementById("remBudget").innerHTML = "Php " +  value[0].decimal_annualRemaining.toLocaleString();
                                for(var i=0;i<value.length;i++)
                                {   
                                    console.log(i);
                                    console.log(value[i].decimal_categBudget);
                                    $(".categBudget").html(value[i].decimal_categBudget);
                                }
                                console.log("Success: " );
                                
                            });
                                                        
                            
                        },
                        error : function(e) {
                            console.log("ERROR: ", e);
                        }
                    });	
                    }
            });
            //- $(function() {
            //-     $("#formNxtBudget").validate({
            //-         rules: {
            //-         budget: {
            //-             required: true,
            //-         },
            //-         action: "required"
            //-         },
            //-         messages: {
            //-         budget: {
            //-             required: "Please enter some data",
            //-         },
            //-         action: "Please provide some data"
            //-         },
            //-         submitHandler: function(form){
            //-             form.submit();
            //-             swal(
            //-                 'Success!',
            //-                 'Annual Project for ' + yr + ' has been recorded!',
            //-                 'success'
            //-             )
            //-         }
            //-     });
                          
            //- });
        });