extends ../../home/views/navbar.pug

block content
        <link href="/cityadmin/vendors/nprogress/nprogress.css" rel="stylesheet">
        <link href="/cityadmin/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
        //- <!-- page content -->
        <div class="right_col" role="main">
            <div class="x_panel">
                <div class="x_title">
                    <h2><i class="fa fa-users"></i> Applications</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="" role="tabpanel" data-example-id="togglable-tabs">
                        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#tab_content1" id="resident-tab" role="tab" data-toggle="tab" aria-expanded="true">Residents</a>
                            </li>
                            <li role="presentation"><a href="#tab_content2" id="household-tab" role="tab" data-toggle="tab" aria-expanded="true">Household</a>
                            </li>
                            <li role="presentation"><a href="#tab_content3" id="barangay-tab" role="tab" data-toggle="tab" aria-expanded="true">Barangay</a>
                            </li>
                        </ul>
                    <div id="myTabContent" class="tab-content">
                        <br>
                        //- START OF 1ST TAB
                        <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                            <div class="x_content">
                                <div class="container">
                                    <div class="table-responsive m-b-40">
                                        <table id="datatable" class="table table-borderless table-data3">
                                            <thead>
                                                <tr>
                                                    <th>Applicant's Name</th>
                                                    <th>Gender</th>
                                                    <th>Civil Status</th>
                                                    <th>Contact Number</th>
                                                    <th>Status</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody> 
                                            each applicant in tbl_application
                                                <tr>    
                                                    <td>
                                                        value=applicant.varchar_firstName+" "+applicant.varchar_middleName+" "+applicant.varchar_lastName
                                                    </td>
                                                    <td>
                                                        value=applicant.enum_gender
                                                    </td>
                                                    <td>
                                                        value=applicant.enum_civilStatus
                                                    </td>
                                                    <td>
                                                        value=applicant.varchar_contactNumber
                                                    </td>
                                                    <td>
                                                        value=applicant.enum_applicationStatus
                                                    </td>
                                                    <td>
                                                        //- a(href=`/office/releasing/beneficiary/${app2.int_applicationID}/viewAppDet` id="viewAppDet" class="btn btn-primary btn-xs btn-block"): span Application Details
                                                        if applicant.enum_applicationType == 'Resident'
                                                            button.btn.btn-info.mb-1(id="btn-view-app" class="btn-view-application btn-block" value= applicant.int_applicationID): span.fa.fa-eye Application Details
                                                            if applicant.enum_applicationStatus == 'Approved'
                                                                a(href=`/office/Releasing/viewben/${applicant.int_applicationID}/receiveben` id="receiveben" class="btn btn-success btn-sm btn-block"): span.fa.fa-check  Received
                                                    </td>
                                                </tr>            
                                            </tbody>
                                        </table>
                                    </div>
                                        //- <!-- END DATA TABLE-->
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade in" id="tab_content2" aria-labelledby="home-tab">
                            <div class="x_content">
                                <div class="container">
                                    <div class="table-responsive m-b-40">
                                        <table id="datatable" class="table table-borderless table-data3">
                                            <thead>
                                                <tr>
                                                    <th>Applicant's Name</th>
                                                    <th>Gender</th>
                                                    <th>Civil Status</th>
                                                    <th>Contact Number</th>
                                                    <th>Status</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody> 
                                            each applicant3 in tbl_application3
                                                <tr>    
                                                    <td>
                                                        value=applicant3.varchar_firstName+" "+applicant3.varchar_middleName+" "+applicant3.varchar_lastName
                                                    </td>
                                                    <td>
                                                        value=applicant3.enum_gender
                                                    </td>
                                                    <td>
                                                        value=applicant3.enum_civilStatus
                                                    </td>
                                                    <td>
                                                        value=applicant3.varchar_contactNumber
                                                    </td>
                                                    <td>
                                                        value=applicant3.enum_applicationStatus
                                                    </td>
                                                    <td>
                                                        //- a(href=`/office/releasing/beneficiary/${app2.int_applicationID}/viewAppDet` id="viewAppDet" class="btn btn-primary btn-xs btn-block"): span Application Details
                                                        if applicant3.enum_applicationType == 'Household'
                                                            button.btn.btn-info.mb-1(id="btn-view-app" class="btn-view-application btn-block" value= applicant3.int_applicationID): span.fa.fa-eye Application Details
                                                            if applicant3.enum_applicationStatus == 'Approved'
                                                                a(href=`/office/Releasing/viewben/${applicant3.int_applicationID}/receiveben` id="receiveben" class="btn btn-success btn-sm btn-block"): span.fa.fa-check  Received
                                                    </td>
                                                </tr>        
                                            </tbody>
                                        </table>
                                    </div>
                                        //- <!-- END DATA TABLE-->
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade  in" id="tab_content3" aria-labelledby="home-tab">
                            <div class="x_content">
                                <div class="container">
                                    <div class="table-responsive m-b-40">
                                        <table id="datatable" class="table table-borderless table-data3">
                                            <thead>
                                                <tr>
                                                    <th>Barangay Name</th>
                                                    <th>int_slot</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody> 
                                            each applicant2 in tbl_application2
                                                <tr>
                                                    <td>
                                                        value= applicant2.varchar_barangayName
                                                    </td>
                                                    <td>
                                                        value= applicant2.int_slot
                                                    </td>
                                                    <td>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                        //- <!-- END DATA TABLE-->
                                </div>
                            </div>
                        </div>
                    </div>		
                </div>
            </div>
        </div>