extends ../../home/views/navbar.pug

block content
    <!-- STATISTIC-->
    <section class="statistic">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                //dito start ng content
                <h1>REVIEWED PROPOSALS</h1>

                <div class="main-content">
                    <div class="section__content section__content--p30">
                        <div class="container-fluid">
                            //- BUTTONS HEADER
                            <div class="table-data__tool">
                                //- FILTER SEGMENT
                                <div class="table-data__tool-left">
                                    <div class="rs-select2--light rs-select2--md">
                                        <select class="js-select2" name="property">
                                            <option selected="selected">All Properties</option>
                                            <option value="">Option 1</option>
                                            <option value="">Option 2</option>
                                        </select>
                                        <div class="dropDownSelect2"></div>
                                    </div>
                                    <div class="rs-select2--light rs-select2--sm">
                                        <select class="js-select2" name="time">
                                            <option selected="selected">Today</option>
                                            <option value="">3 Days</option>
                                            <option value="">1 Week</option>
                                        </select>
                                        <div class="dropDownSelect2"></div>
                                    </div>
                                    <button class="au-btn-filter">
                                        <i class="zmdi zmdi-filter-list"></i>filters</button>
                                </div>
                                //- SEARCH SEGMENT
                                <div class="table-data__tool-right">
                                    <div class="col">
                                        <div class="align-right">
                                            <div class="input-group">
                                                <div class="input-group-btn">
                                                    <button class="btn btn-primary">
                                                        <i class="fa fa-search"></i> Search
                                                    </button>
                                                </div>
                                                <input type="text" id="input1-group2" name="input1-group2" placeholder="Username" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row m-t-30">
                                <div class="col-md-12">
                                    <!-- DATA TABLE-->
                                    <form method="GET" action="/budget/proposals/reviewed">
                                        <div class="table-responsive m-b-40">
                                            <table class="table table-borderless table-data3">
                                                <thead>
                                                    <tr>
                                                        <th>No.</th>
                                                        <th>Name</th>
                                                        <th>Description</th>
                                                        <th>Category</th>
                                                        <th width="18%">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    each proposal in reviewedproposals
                                                        <tr>
                                                            <td>
                                                                value= proposal.int_projectID
                                                            </td>
                                                            <td>
                                                                value= proposal.varchar_projectName
                                                            </td>

                                                            <td>
                                                                value= proposal.text_projectDescription
                                                            </td>
                                                            <td>
                                                                value= proposal.varchar_categoryName
                                                            </td>
                                                            <td>
                                                                <div class="row">
                                                                    a(href=`/budget/proposals/${proposal.int_projectID}/details`): button.btn.btn-primary: span.fa.fa-eye
                                                                    //- button.btn.btn-success(data-toogle="modal" data-target="#approveModal"): span.fa.fa-upload
                                                                    //- <button type="button" class="btn btn-success" data-toggle="modal" data-target="#approveModal">
                                                                    //-     <span>
                                                                    //-         <i class="fa fa-upload"></i>
                                                                    //-     </span>
                                                                    //- </button>
                                                                    button.btn.btn-success.mb-1(title="Approval" id="btn-submit" class="btn-class" value= proposal.int_projectID): span.fa.fa-upload
                                                                    a(href=`/budget/proposals/${proposal.int_projectID}/delete`): button.btn.btn-danger: span.fa.fa-times
                                                                </div>
                                                            </td>
                                                        </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- END DATA TABLE-->
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                //end of content
                
            </div>
        </div>

        <!-- modal medium -->
        <div class="modal fade" id="approveModal" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                
                    <form method="POST" action="approval">
                    
                        each detail in reviewedproposals

                            input(type="hidden" value=`${detail.int_projectID}` name="int_projectID")

                            <div class="modal-header">
                                <h5 class="modal-title" id="mediumModalLabel">Approval Requirement</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" >Approval Letter</span>
                                    </div>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" name="letterfile">
                                        <label class="custom-file-label" >Choose file</label>
                                    </div>
                                </div>

                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Actual Budget</span>
                                        <span class="input-group-text"> P </span>
                                    </div>
                                    <input type="text" class="form-control" name="actualbudget">
                                    <div class="input-group-append">
                                        <span class="input-group-text">0.00</span>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                //- a(href=`/budget/proposals/${detail.int_projectID}/approval`): button.btn.btn-success Confirm
                                //- <input type="submit" value="submit" class="btn btn-success">
                                button.btn.btn-success.btn-s(type='submit' id="approvalconfirm") Submit
                            </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- end modal medium -->
    </section>
    <!-- END STATISTIC-->

    <script src="/newassets/vendor/jquery-3.2.1.min.js"></script>

    script.

        $(document).ready(function () {

            $('.btn-class').click(function (e) {
                e.preventDefault()
                var Id = $(this).val();
                console.log("================================Id(Class)")
                console.log(Id);
                console.log("================================Id(Class)")
                $('#approveModal').modal('show');

                    $('#approvalconfirm').click(function() {
                        $.post('/budget/proposals/reviewapproval',{resultIndex:Id})
                            .done(data =>{
                                if(data){
                                    swal({
                                    title:'Success', 
                                    text:'service deleted', 
                                    icon:'success'
                                    }).then(function(){
                                        location.reload();
                                    })
                                    
                                    
                                    //- $('#approval').modal('hide');
                                }
                            });  
                    });
            }); 
        });