extends ../../home/views/navbar.pug

block content
    //- <!-- page content -->
    <div class="right_col" role="main">
        <div class="x_panel">
            <div class="x_title">
                //- <!-- DATA TABLE-->
                <center>
                    <h1>LIST OF APPLICATIONS</h1>
                    <h4>(Applications and their details for this project)</h4>
                </center>
            </div>
            <div class="x_content">
                <div class="container">
                    <div class="table-responsive m-b-40">
                            <table id="datatable" class="table table-borderless table-data3">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Status</th>
                                        //- <th>Slots</th>
                                        <th>Action/s</th>
                                    </tr>
                                </thead>
                                <tbody>
                                each applicant in applicants
                                    <tr>
                                        <td>
                                            value=applicant.int_applicationID
                                        </td>
                                        <td>
                                            value=applicant.varchar_firstName+" "+applicant.varchar_middleName+" "+applicant.varchar_lastName
                                        </td>
                                        //- <td>
                                        //-     value=project.date_projectEnd
                                        //- </td>
                                        <td>
                                            value=applicant.enum_applicationStatus
                                        </td>
                                        <td>
                                            //- a(href=`/barangay/projects/applications/${project.int_projectID}/list` class="btn btn-primary btn-sm"): <i class="fa fa-eye"></i>   See Applications
                                        </td>
                                    </tr>                   
                                </tbody>
                            </table>
                    </div>
                //- <!-- END DATA TABLE-->
                </div>
            </div>
        </div>
    </div>