extends ../../home/views/navbar.pug

block content
    <div class="right_col" role="main">
        <div class="x_panel">
            <div class="x_title">
                //- <!-- DATA TABLE-->
                <center>
                    <h1>PROJECTS</h1>
                </center>
            </div>
            <div class="x_content">
                <div class="container">
                    <div class="table-responsive m-b-40">
                            <table id="datatable" class="table table-borderless table-data3">
                                <thead>
                                    <tr>
                                        <th>Project Name</th>
                                        <th>End of Application</th>
                                        <th>Available Slots</th>
                                        <th>Application Type</th>
                                        <th>Status</th>
                                        <th>Action/s</th>
                                    </tr>
                                </thead>
                                <tbody>
                                each project in tbl_project
                                    <tr>
                                        <td>
                                            value=project.varchar_projectName
                                        </td>
                                        <td>
                                            //- END OF APPLICATION DATE
                                            value=project.date_targetEndApp
                                        </td>
                                        <td>
                                            //- ORIGINAL SLOT - APPROVED APPLICANTS
                                            value=project.int_allotedSlot
                                        </td>
                                         <td>
                                            //-
                                            value="Per "+project.enum_applicationType
                                        </td>
                                        <td>
                                            value=project.enum_projectStatus
                                        </td>
                                        <td>
                                            if project.enum_applicationType == "Resident"
                                                button.btn.btn-success.mb-1(id="btn-view-project" class="btn-view-project" value= project.int_projectID): span.fa.fa-eye View
                                                a(href=`/barangay/projects/${project.int_projectID}/apply` class="btn btn-primary btn-sm"): <i class="fa fa-files-o"></i> Register
                                                a(href=`/barangay/projects/${project.int_projectID}/registeredapplicants` class="btn btn-info btn-sm"): <i class="fa fa-users"></i> Applications
                                            if project.enum_applicationType == "Household"
                                                button.btn.btn-success.mb-1(id="btn-view-project" class="btn-view-project" value= project.int_projectID): span.fa.fa-eye View
                                                a(href=`/barangay/projects/${project.int_projectID}/apply` class="btn btn-primary btn-sm"): <i class="fa fa-files-o"></i> Register
                                                a(href=`/barangay/projects/${project.int_projectID}/registeredapplicants` class="btn btn-info btn-sm"): <i class="fa fa-users"></i> Applications

                                            if project.enum_applicationType == "Barangay"
                                                button.btn.btn-success.mb-1(id="btn-view-project" class="btn-view-project" value= project.int_projectID): span.fa.fa-eye View
                                                a(href=`/barangay/projects/${project.int_projectID}/apply` class="btn btn-primary btn-sm" class="brgyregister"): <i class="fa fa-files-o"></i> Register    

                                                each brgy in barangay
                                                    if brgy.enum_applicationStatus == "Pending" || brgy.enum_applicationStatus == "Approved" || brgy.enum_applicationStatus == "Received" || brgy.enum_applicationStatus == "In Progress" 
                                                    a(href=`/barangay/projects/${project.int_projectID}/registeredapplicants` class="btn btn-info btn-sm"): <i class="fa fa-users"></i> View Application    
                                                        script.
                                                            var counter = document.getElementsByClassName('brgyregister'), a;
                                                                for(a= 0; a < counter.length; a++){
                                                                    document.getElementsByClassName('brgyregister')[a].style.display = 'none';
                                                                }
                                        </td>
                                    </tr>                   
                                </tbody>
                            </table>
                    </div>
                //- <!-- END DATA TABLE-->
                </div>
            </div>
        </div>
    </div>

    //- MODAL VIEW PROJECT
    <div class="modal fade bs-example-modal-lg" id="modalviewproject" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            <div class="modal-body">
                
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel"><span class="section">View Project Details</span></h4> 
                    <div class="item form-group">
                            <label class="control-label col-md-2" for="projecttitle">Project:
                            </label>
                            <div class="col-md-9" id="projecttitle">
                
                            </div>
                            <br>
                    </div>
                    <div class="item form-group">
                            <label class="control-label col-md-2" for="projectdescription">Description:
                            </label>
                            <div class="col-md-9" id="projectdescription" >
                
                            </div>
                            <br>
                    </div>
                    <div class="item form-group">
                            <label class="control-label col-md-2" for="projectrelstart">Start of Application:
                            </label>
                            <div class="col-md-9" id="projectrelstart">
                
                            </div>
                            <br>
                    </div>
                    <div class="item form-group">
                            <label class="control-label col-md-2" for="projectrelend">End of Application:
                            </label>
                            <div class="col-md-9" id="projectrelend">
                
                            </div>
                            <br>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" style="float:right;">Close</button>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    //- END OF VIEW PROJECT


    <script src="/newassets/vendor/jquery-3.2.1.min.js"></script>
    script.

        //- SCRIPT GET INT_PROJECTID (VIEW MODAL)

            $(document).ready(function () {
                
                $('.btn-view-project').click(function (e) {
                    e.preventDefault()
                    var Id = $(this).val();
                    console.log("================================Id(Class)")
                    console.log(Id);
                    console.log("================================Id(Class)")
                    $('#modalviewproject').modal('show');
                    ajaxGet();

                    function ajaxGet(){
                    console.log("========Id");
                    console.log(Id);
                    console.log("========Id");

                    $.ajax({
                        type : "POST",
                        url : window.location + "/projectdetails",
                        data: { ajProjectID: Id},
                        dataType: "json",
                        success: function(tbl_project){

                        console.log(tbl_project)

                            $.each(tbl_project, function (index, value) {
                                console.log(value);

                                document.getElementById("projecttitle").innerHTML = value.varchar_projectName    
                                document.getElementById("projectdescription").innerHTML = value.text_projectDescription
                                document.getElementById("projectrelstart").innerHTML = value.date_actualStartApp 
                                document.getElementById("projectrelend").innerHTML = value.date_targetEndApp
                                    
                                console.log("Success: " );
                            });
                                                        
                            
                        },
                        error : function(e) {
                            console.log("ERROR: ", e);
                        }
                    });	
                }
                });
                //- END OF BUTTON VIEW PROJECT 

            //- END OF DOCUMENT READY
            });

