extends ../../home/views/navbar.pug

block content
    <!-- BREADCRUMB-->
    <section class="au-breadcrumb m-t-75">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="au-breadcrumb-content">
                            <div class="au-breadcrumb-left">
                                <span class="au-breadcrumb-span">You are here:</span>
                                <ul class="list-unstyled list-inline au-breadcrumb__list">
                                    <li class="list-inline-item">
                                        <a href="#">Proposal</a>
                                    </li>
                                    <li class="list-inline-item seprate">
                                        <span>/</span>
                                    </li>
                                    <li class="list-inline-item active">
                                        <a href="/office/proposals">Open Projects</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- STATISTIC-->
    <section class="statistic">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                //dito start ng content
                <h3 class="title-5 m-b-35">Submitted Proposals</h3>
                    <div class="table-data__tool">
                        <div class="table-data__tool-left">
                            <div class="rs-select2--light rs-select2--sm">
                                <select class="js-select2" name="time">
                                    <option disabled="disabled" selected="selected">Select ...</option>
                                    <option value = "All">All</option>
                                    <option value = "1">Health</option>
                                    <option value = "2">Education</option>
                                    <option value = "3">Finance</option>
                                    <option value = "4">Infrastracture</option>
                                </select>
                                <div class="dropDownSelect2"></div>
                            </div>
                            <button class="au-btn-filter">
                                <i class="zmdi zmdi-filter-list"></i>filters</button>
                        </div>
                    </div>
                    <div class="table-responsive  m-b-40 pb-5">
                        <table class="table table-borderless table-data3">
                            <thead>
                                <th>No.</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Category</th>
                                <th>Action</th>
                            </thead>
                            <tbody>
                                each proposal in tbl_project
                                    <tr>
                                        <td>
                                            value= proposal.int_projectID
                                        </td>
                                        <td>
                                            value= proposal.varchar_projectName
                                        </td>

                                        <td>
                                            value= proposal.text_projectDescription
                                        </td>
                                        <td>
                                            value= proposal.varchar_categoryName
                                        </td>
                                        <td>
                                            //- a(href=`/budget/proposals/${proposal.int_projectID}/details`): button.btn.btn-primary: span.fa.fa-eye
                                            <div class="row">
                                                //- a(href="#approval"): button.btn.btn-success: span.fa.fa-envelope
                                                //- button.btn.btn-success.mb-1(data-toggle="modal" data-target="#approval"): span.fa.fa-envelope
                                                //- a.btn.btn-success.mb-1(data-toggle="modal" href="#approval" title="Enter Check Number" id="btn-submit" value= `${proposal.int_projectID}`): span.fa.fa-envelope
                                                button.btn.btn-success.mb-1(title="Enter Check Number" id="btn-submit" value= `${proposal.int_projectID}`): span.fa.fa-envelope
                                                a(href=`/budget/proposals/${proposal.int_projectID}/delete` title="Reject"): button.btn.btn-danger.btn-block REJECT
                                            </div>
                                        </td>
                                    </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- END DATA TABLE-->
                </div>
            </div>      <!-- container-fluid -->
        </div>      <!-- section_content -->
    </div>      <!-- main-content -->

    //- <!-- modal large -->
    <div class="modal" id="approval" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="largeModalLabel">Approval Requirement</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="checkinsert">

                    <div class="modal-body">
                        input(type="hidden" value='' name="int_projectID")
                        <div class="row form-group">
                            <div class="col col-md-3">
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="text-input" name="text-input" placeholder="Number" class="form-control">
                                <small class="form-text text-muted">Kindly enter the check number for the confirmation of the opening of the project</small>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        button.btn.btn-success.btn-s(type='submit' id="approvalconfirm") Submit
                    </div>
            </form>
        </div>
    </div>
    </div>
    //- <!-- end modal large -->
    </section>
    <!-- END STATISTIC-->
    <script src="/newassets/vendor/jquery-3.2.1.min.js"></script>

    script.

        $(document).ready(function () {

        $('#btn-submit').on('click', function () {
            var Id = $(this).val();
            console.log("================================Id");
            console.log(Id);
            console.log("================================Id")

            $('#approval').modal('show');
        });

        $('#approvalconfirm').on('click', function() {
            $.post('/budget/proposals/checkinsert',{resultIndex:Id})
                .done(data =>{
                    if(data){
                        swal({
                        title:'Success', 
                        text:'service deleted', 
                        icon:'success'
                        }).then(function(){
                            location.reload();
                        })
                        
                        
                        //- $('#approval').modal('hide');
                    }
                });  
            });
        });

                

            