extends ../../home/views/navbar.pug

block content
        <!-- page content -->
        <div class="right_col" role="main">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h1>Forms<button class="btn btn-primary btn-lg pull-right" id="addform" type="button" data-toggle="modal" data-target=".bs-example-modal-lg"><span class="fa fa-plus"></span> Add</button></h1>
                </div>              
        <div class="content-wrapper">
            <div class="container-fluid">
            <div class="card mb-4">
                <div class="card-header">
                <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="datatable" width="95%" cellspacing="0">
                      <thead>
                        <tr>
                          <th>Form Name</th>
                          <th>Description</th>
                          <th>Actions</th>
                          <th>Status</th>
                        </tr>
                      </thead>
                      <tfoot>
                        <tr>
                          <th>Form Name</th>
                          <th>Description</th>
                          <th>Actions</th>
                          <th>Status</th>
                        </tr>
                      </tfoot>
                      <tbody>
                      each form in tbl_formtype
                          <tr>
                          <td>
                            value=form.varchar_formName
                          </td>
                          <td>
                            value=form.text_formDescription
                          </td>
                          <td>
                            a(href=`/admin/maintenance/forms/${form.int_formTypeID}/editforms` id="editforms" class="btn btn-info btn-s"): span.fa.fa-pencil  Edit
                          </td>
                          <td>
                            if form.enum_formStatus == "Inactive"
                              form(method="POST" action="/admin/maintenance/forms/activate")
                                input(value=form.int_formTypeID name="id" required, hidden)
                                button.btn.btn-danger.btn-s(type='submit') Inactive
                            if form.enum_formStatus == "Active"
                              form(method="POST" action="/admin/maintenance/forms/inactive")
                                input(value=form.int_formTypeID name="id" required, hidden)
                                button.btn.btn-success.btn-s(type='submit') Active
                          </td>
                          </tr>
                      </tbody>
                    </table>
                </div>
                </div>
                </div>

                  <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                        <div class="modal-body">
                          <form class="form-horizontal form-label-left" method="POST" action='forms' name="addform" novalidate>
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                          </button>
                        <h4 class="modal-title" id="myModalLabel"><span class="section">Form Details</span></h4>
             
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="formname">Form Name <span class="required">*</span>
                        </label>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <input id="formname" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="3" name="formname" placeholder="Form Name" required="required" type="text">
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="formdescription">Form Description <span class="required">*</span>
                        </label>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                          <input id="formdescription" class="form-control col-md-12 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="formdescription" placeholder="Form Description" required="required" type="text">
                        </div>
                      </div>
                      <button type="submit" id="modalbutton" class="btn btn-primary float-right" position="center" style="background-color#21BA45;color:whitesmoke;border:none;">Submit</button>
                      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </form></div>
                        <div class="modal-footer">
                          
                        </div>

                        </div>
                        </div>
                    </div>