extends ../../home/views/navbar.pug

block content
    <!-- page-header -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-caption">
                            <h1 class="page-title" style="color:#3B5997;">Resident Application</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.page-header-->
        <!-- tour-booking -->
        <div class="content">
            <div class="container">
                <div class="row ">
                    <!-- footer-logo -->
                    <div class="wrapper">
                        <div class="tour-booking-form">
                            <!--Table-->
                            <table class="table table-hover table-responsive-md">

                                <!--Table head-->
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th class="th-lg"><i class="fa fa-file-text-o fa-lg pr-2" aria-hidden="true"></i>Project Name</th>
                                        <th class="th-lg"><i class="fa fa-calendar-times-o fa-lg pr-2" aria-hidden="true"></i>End Date</th>
                                        <th class="th-lg"><i class="fa fa-folder-open-o fa-lg pr-2" aria-hidden="true"></i>Slots</th>
                                        <th class="th-lg"><i class="fa fa-edit fa-lg pr-2" aria-hidden="true"></i>Action/s</th>
                                    </tr>
                                </thead>
                                <!--Table head-->

                                <!--Table body-->
                                <tbody>
                                    each project in tbl_project
                                        <tr>
                                        <td>
                                            value=project.int_projectID
                                        </td>
                                        <td>
                                            value=project.varchar_projectName
                                        </td>
                                        <td>
                                            value=project.date_endDate
                                        </td>
                                        <td>
                                            value=project.int_allotedSlot
                                        </td>
                                        <td>
                                            a(href=`/barangay/residents/applications/${project.int_projectID}/apply` id="but_apply" ): span.fa.fa-files-o Apply
                                        </td>
                                        </tr>
                                </tbody>
                                <!--Table body-->

                            </table>
                            <!--Table-->
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    <!-- /.tour-booking -->
