extends ../../home/views/navbar.pug

block content
    <!-- page-header -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-caption">
                            <h1 class="page-title" style="color:#3B5997;">Resident Application</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.page-header-->
        <!-- tour-booking -->
        <div class="content">
            <div class="container">
                <div class="row ">
                    <div class="wrapper">
                        <div class="tour-booking-form">
                            <!--Table-->
                            <table id="openprojects" class="table table-hover table-responsive-md">

                                <!--Table head-->
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th class="th-lg"><i class="fa fa-file-text-o fa-lg pr-2" aria-hidden="true"></i>Projects</th>
                                        <th class="th-lg"><i class="fa fa-calendar-times-o fa-lg pr-2" aria-hidden="true"></i>End Date</th>
                                        <th class="th-lg"><i class="fa fa-folder-open-o fa-lg pr-2" aria-hidden="true"></i>Slots</th>
                                        <th class="th-lg"><i class="fa fa-edit fa-lg pr-2" aria-hidden="true"></i>Action/s</th>
                                    </tr>
                                </thead>
                                <!--Table head-->

                                <!--Table body-->
                                <tbody id="openprojectsbody">
                                    each project in tbl_project
                                        <tr>
                                        <td>
                                            value=project.int_projectID
                                        </td>
                                        <td>
                                            value=project.varchar_projectName
                                        </td>
                                        <td id="date_name">
                                            value=project.date_endDate
                                        </td>
                                        <td>
                                            value=project.int_allotedSlot
                                        </td>
                                        <td>
                                            a(href=`/barangay/residents/applications/${project.int_projectID}/apply` id="but_apply" ): span.fa.fa-files-o Apply
                                        </td>
                                        </tr>
                                </tbody>
                                <!--Table body-->

                            </table>
                            <!--Table-->
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    <!-- /.tour-booking -->


        script.
            //- var get_dateID = document.getElementById("date_name");
            //- var get_dateValue = get_dateID.innerText;
            //- var get_stringValue = get_dateValue.toString();
             

            //- get_stringValue = new Date(get_stringValue).toUTCString();
            //- get_stringValue = get_stringValue.split(' ').slice(0, 4).join(' ');
            //- console.log(get_stringValue);
            //- document.getElementById('date_name').innerHTML = get_stringValue;



            var t = document.getElementById("openprojectsbody"),
                tableRows = t.getElementsByTagName("tr"),
                r = [], i, len, tds, j, jlen;

            for ( i =0, len = tableRows.length; i<len; i++) {
                tds = tableRows[i].getElementsByTagName('td');
                for( j = 0, jlen = tds.length; j < jlen; j++) {
                    r.push(tds[j]);
                    
                    var final_table=tds[j];
                    console.log(final_table);

                }
            
            }

            var table = document.getElementById("openprojectsbody").rows;
            console.log(table);
            var y;
            var tr = table.getElementsByTagName("tr");
            
            for(i = 0; i <tr.length; i++)
            {   
                var td = tr[i].getElementsByTagName('td');
                for(j = 0; j < td.length; j++)
                {
                    y = table[i].cells;
                    //do something with cells in a row
                    y[j].innerHTML = "hello";
                }
            }
                    
            